
@media screen and (min-width: 1366px) and (max-width: 1920px) {
    div[class="listTable_Record"] {
        width: 100%;
        height: 871px;
        flex-shrink: 0;
        fill: var(--secondary-primary-white, #FFF);
        background-color: #FFFFFF;
        border-radius: 10px;
        margin-top:30px;
    }
}