
    div[class="box1"] div[class="avatar"] > img {
        width: 248px;
        height: 215px;
    }

    label[class="label_status"] {
        border-radius: 8px;
        background: rgba(40, 199, 111, 0.35);
        height: 40px;
        padding: 8px 12px;
        color: #28C76F;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        ALIGN-ITEMS: CENTER;
        display: flex;
        justify-content: center;
    }

    button[class="save_Changes"] {
        border-radius: 8px;
        width: 200px;
        background: #2CDDBD;
        border: none;
        color: white;
        font-weight: bold;
    }

    button[class="create_Record"] {
        border-radius: 8px;
        width: 200px;
        background: #2CA8DD;
        border: none;
        font-weight: bold;
    }

    button[class="create_Record"] a {
        color: white;
        text-decoration:none;
    }


form .col-md-5 div[class="box2 row justify-content-between g-3 "] .col-md-6,
form .col-md-5 div[class="box1 row justify-content-between g-3 "] .col-md-6 {
    padding: 10px;
}

form .col-md-5 div[class="box2 row justify-content-between g-3 "] .col-md-12 label,
form .col-md-5 div[class="box1 row justify-content-between g-3 "] .col-md-12 label,
form .col-md-5 div[class="box2 row justify-content-between g-3 "] .col-md-6 label,
form .col-md-5 div[class="box1 row justify-content-between g-3 "] .col-md-6 label {
    color: #525252;
    font-size: 18px;
    font-family: Joxt;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


form .col-md-5 div[class="box2 row justify-content-between g-3 "] .col-md-6 input,
form .col-md-5 div[class="box1 row justify-content-between g-3 "] .col-md-6 input {
    border-radius: 8px;
    background: #EDEDED;
    border: none;
}

