
@media screen and (min-width: 1366px) and (max-width: 1920px) {
    button[class="addCus"] {
        display: flex;
        font-weight: bold;
        border: 1px solid white;
        margin-top: 30px;
        width: 300px;
        border-radius: 12px;
        background: #2CA8DD;
        padding: 0px 8px;
        justify-content: center;
        align-items: center;
        height:30px;
    }
    button[class="addCus"] a {
        color: white;
        text-decoration: none;
    }
    button[class="addCus"] > i {
        margin-left: 10px;
        font-size: 20px;
    }

    div[class="listTable_Cus"] {
        margin-top: 30px;
        width: 100%;
        height: 871px;
        flex-shrink: 0;
        fill: var(--secondary-primary-white, #FFF);
        background-color: #FFFFFF;
        border-radius: 10px;
    }
    div[class="row action"]{
        display:contents;
        font-size: 20px;
    }
    div[class="row action"] a {
        text-decoration: none;
        color: #8B909A;
    }
}
