

/* CSS cho màn hình 15.6 inch  */

.body {
    margin-top:30px;
}
.body .row .col-6 {
    background-image: url("../../Resource/Image/BackgroundImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin-left: -30px;
}     
.body div[class="box_avatar"] {
    position: relative;
    width: 257px;
    bottom: 30px;
    left: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div[class="box_avtr"] > img,
div[class="box_avatar"] > img {
    width: 257px;
    height: 210px;
    border: 7px solid #FFF;
}

div[id="box_load"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    border: 1px dashed #E0E5F2;
    background: #FAFCFE;
    height: 310px;

}
    .body .row .col-5 {
        background-color: #FFF;
        border-radius: 26px;
    }

        .body .row .col-5 .row {
            margin: auto;
        }

    button[class="upload"] {
        font-size: 110px;
        color: #4318FF;
        border: none;
        background: none;
        height: 200px;
    }

    h3[class="tt"] {
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 160% */
        letter-spacing: -0.4px;
        color: #4318FF;
    }

div[class="infor col-5"] {
    margin: 10px;
    opacity: 0.9;
    width: 610px;
   height: 480px;
}
div[class="infor col-5"] > .row > .col-md-5 input {
    border: none;
    color: #2B3674;
}
div[class="infor col-5"] > .row > .col-md-5 label {
    color: var(--secondary-grey-600, #A3AED0);
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    letter-spacing: -0.28px;
}
div[class="infor col-5"]  .col{
    margin: 20px 0;
}
.body .row form .col-md-5 {
    border-radius: 30px;
    box-shadow: 0px 18px 40px 0px rgba(112, 144, 176, 0.12);
    padding: 10px;
    margin: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

    .form-input {
        border: none;
        padding: .375rem .75rem;
        line-height: 1.5;
    }

.form-input:focus {
    outline: none;
}  

    h4[class="title"] {
        color: #2B3674;
        font-family: Dongle;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 88.889% */
        letter-spacing: -0.72px;
        margin: 10px;
    }

    button[class="save"] {
        width: 140px;
        height: 46px;
        background-color: #4318FF;
        font-weight: bold;
        border: none;
        color: white;
        border-radius: 20px;
        margin-top: 100px;
    }

