#pdfContainer {
    position: relative;
    border: 3px solid gray;
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

    #pdfContainer canvas {
        max-width: 100%;
        max-height: 100%;
    }

.signatureArea {
    position: absolute;
    border: 2px dashed red;
    pointer-events: auto;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    display: none;
    /* Initially hide signature areas */
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

    .pagination li {
        margin-right: 5px;
    }

    .pagination a {
        text-decoration: none;
        color: #007bff;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
        border: #007bff 2px solid;
        background-color: initial;
        transition: background-color 0.3s, color 0.3s;
    }

        .pagination a:hover {
            text-decoration: underline;
            background-color: #007bff;
            color: white;
        }

        .pagination a.active {
            background-color: #007bff;
            color: white;
        }

.round {
    border-radius: 50%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}



/* CSS */
.button-22 {
    align-items: center;
    appearance: button;
    background-color: #0276FF;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue", sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 10px 21px;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out, background .13s ease-in-out, opacity .13s ease-in-out, box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .button-22:active {
        background-color: #006AE8;
    }

    .button-22:hover {
        background-color: #1C84FF;
    }

</style >
<style >
/* Import Google font - Poppins */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

::selection {
    color: #fff;
    background: #6990F2;
}

.wrapper {
    width: 730px;
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
    margin-left: 340px;
}

    .wrapper header {
        color: #6990F2;
        font-size: 27px;
        font-weight: 600;
        text-align: center;
    }

    .wrapper form {
        height: 467px;
        display: flex;
        cursor: pointer;
        margin: 30px 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 5px;
        border: 2px dashed #6990F2;
    }

form :where(i, p) {
    color: #6990F2;
}

form i {
    font-size: 50px;
}

form p {
    margin-top: 15px;
    font-size: 16px;
}

section .row {
    margin-bottom: 10px;
    background: #E9F0FF;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    section .row i {
        color: #6990F2;
        font-size: 30px;
    }

section .details span {
    font-size: 14px;
}

.progress-area .row .content {
    width: 100%;
    margin-left: 15px;
}

.progress-area .details {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
}

.progress-area .content .progress-bar {
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 30px;
}

.content .progress-bar .progress {
    height: 100%;
    width: 0%;
    background: #6990F2;
    border-radius: inherit;
}

.uploaded-area {
    max-height: 232px;
    overflow-y: scroll;
}

    .uploaded-area.onprogress {
        max-height: 150px;
    }

    .uploaded-area::-webkit-scrollbar {
        width: 0px;
    }

    .uploaded-area .row .content {
        display: flex;
        align-items: center;
    }

    .uploaded-area .row .details {
        display: flex;
        margin-left: 15px;
        flex-direction: column;
    }

        .uploaded-area .row .details .size {
            color: #404040;
            font-size: 11px;
        }

    .uploaded-area i.fa-check {
        font-size: 16px;
    }
