


/*@media screen and (min-width: 1366px) and (max-width: 1920px) {

    .body .row .col-4 {
        width: 552px;
        height: 365px;
        border-radius: 20px;*/
        /*background: var(--secondary-primary-white, #FFF);*/
    /*}

    .row .list_sign {*/
        /*width: 900px;*/
        /*height: 400px;
        border-radius: 20px;
        background: var(--secondary-primary-white, #FFF);
    }

    .body .row .col-3 {
        width: 381px;
        height: 365px;
        border-radius: 20px;
        background: var(--secondary-primary-white, #FFF);
    }

    div[class="col-4 avt"] {
        background: url("../../Resource/Image/BackgroundImage.png");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 10px solid #FFFFFF;
        color: #FFFFFF;
    }

    div[class="avt"] {
        width: 87px;
        height: 87px;
        border-radius: 100%;
    }

    div[class="avt"] img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 3px solid #FFFFFF;
    }*/
    /*.img_btm {
    width: 500px;
    height: 400px;
  
}*/
    /*div[class="col-4 img_btm"] img {
        width: auto;
        height: 450px;
    }

    div [class=bx] {
        display: flex;
        flex-direction: row;
        padding: 2px;
        margin: 4px;
        color: #2B3674;
    }

    div [class=bx] button {
        border: none;
        background-color: transparent;
        padding: 3px;
        font-size: 15px;
    }

    .col-5 {
        display: flex;
        flex-direction: column;
    }

    .col-5 .img_Sign {
        width: 153px;
        height: 153px;
        border-radius: 100px;
        background-color: cornsilk;
    }

    .col-5 .digital_Sign {
        width: 150px;
        height: 100px;
        background-color: antiquewhite;
        margin-top: 10px;
    }

    .row .col-12 {
        padding-top: 30px;
        color: #2B3674;
    }

    .area_Sign {
        width: 70%;
        height: 100%;
        color: #2B3674;
    }

    .area_Sign .Sign_Area {
        width: 389px;
        height: 242px;
        background-color: #808080;
        margin: 50px 0;
    }

    .action_btn {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        justify-content: center
    }

    .clr,
    .sve {
        width: 100px;
        height: 46px;
        border-radius: 15px;
        margin: 50px 0;
        border: none;
        font-weight: bold;
        color: #FFF;
    }

    .clr {
        background-color: red;
    }

    .sve {
        background-color: #4318FF;
    }

    .scrollable-list {
        max-height: 300px;*/ /* Điều chỉnh chiều cao tối đa để tạo cuộn */
        /*overflow-y: auto;*/ /* Cho phép cuộn dọc khi danh sách dài hơn */
        /*border: 1px solid #ccc;*/ /* Tạo viền cho vùng cuộn */
    /*}

    .scrollable-list ul {
        list-style: none;*/ /* Loại bỏ dấu chấm tròn mặc định của danh sách */
        /*display: flex;*/ /* Sử dụng flexbox để căn chỉnh ngang các mục */
        /*flex-wrap: wrap;*/ /* Cho phép các mục xuống dòng khi không đủ không gian */
    /*}

    .scrollable-list ul li {
        width: 33.33%;*/ /* Đặt chiều rộng của mỗi mục là 1/3 của danh sách */
        /*padding: 10px;
        box-sizing: border-box;*/ /* Đảm bảo rằng padding không làm tăng chiều rộng */
    /*}

    .scrollable-list ul li img {
        max-width: 100%;
        height: auto;*/ /* Đảm bảo hình ảnh không bị nén hoặc biến dạng */
    /*}
}*/
