div[class="card"] {
    height: 500px;
    /*border-radius: 5px;*/
    background: var(--secondary-primary-white, #FFF);
    box-shadow: 0px 18px 40px 0px rgba(112, 144, 176, 0.12);
}
div[class="card"] .hder h5[class="title"] {
    color: #2B3674;
    font-family: Dongle;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.6px;
    margin: 5px;
}
div[class="btm"]{
    margin: 0 30px;
}
div[class="btm"] button {
    border: none;
    display: flex;
    width: 94px;
    height: 28px;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #2CA8DD;
    color:white;
    font-weight:bold;
}
div[class="col-md-5 crl"]{
    margin-top:10px;
}