@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <div class="header">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="/Resource/Image/Avatar.jpg" style="width:40px;height:40px;border-radius:100%;" />
                </li>
            </ul>
        </div>
    </div>
    <div class="body">
        <div class="row justify-content-around">
            <div class="col-4 avt">
                <div class="avt">
                    <img src="~/Resource/Image/Avatar.jpg" />
                </div>
                <h4>DO THAO(DANZOU)</h4>
                <h5>CEO TECHSEAL</h5>
            </div>
            <div class="col-3">
                <div class="row justify-content-around">
                    <div class="col-5">
                        <div class="bx">
                            <h5>Chữ ký ảnh</h5>
                            <button>
                                <i class="ph-bold ph-upload"></i>
                            </button>
                        </div>
                        <div class="img_Sign">
                        </div>
                    </div>
                    <div class="col-5">
                        <h5 style="padding:5px; color:#2B3674;">Chữ ký số</h5>
                        <div class="digital_Sign">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <h3>USB TOKEN</h3>
                    <span>sdadadada</span>
                </div>
            </div>
            <div class="col-4 rght" style="background: var(--secondary-primary-white, #FFF); display:flex;">
                <div class="area_Sign">
                    <h5>Tạo chữ ký mới</h5>
                    <div class="Sign_Area">
                    </div>
                </div>
                <div class="action_btn">
                    <button class="clr">CLEAR</button>
                    <button class="sve">LƯU LẠI</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-around" style="padding-top:20px;">
            <div class="col-7 list_sign">
                <h5 style="color:#2B3674; padding:4px;">Danh sách chữ ký đã tạo</h5>
                <div class="scrollable-list">
                    <ul>
                        <li>
                            Mục 1
                            <img src="~/Resource/Image/img_sign.png" alt="Hình ảnh 1" />
                        </li>
                        <li>
                            Mục 2
                            <img src="~/Resource/Image/img_sign.png" alt="Hình ảnh 2" />
                        </li>
                        <li>
                            Mục 3
                            <img src="~/Resource/Image/img_sign.png" alt="Hình ảnh 2" />
                        </li>
                        <li>
                            Mục 4
                            <img src="~/Resource/Image/img_sign.png" alt="Hình ảnh 2" />
                        </li>
                        <li>
                            Mục 1
                            <img src="~/Resource/Image/img_sign.png" alt="Hình ảnh 1" />
                        </li>
                        <li>
                            Mục 2
                            <img src="~/Resource/Image/img_sign.png" alt="Hình ảnh 2" />
                        </li>
                        <li>
                            Mục 3
                            <img src="~/Resource/Image/img_sign.png" alt="Hình ảnh 2" />
                        </li>
                        <li>
                            Mục 4
                            <img src="~/Resource/Image/img_sign.png" alt="Hình ảnh 2" />
                        </li>
                        <!-- Tiếp tục thêm các mục và hình ảnh tương tự cho các mục khác -->
                    </ul>
                </div>
            </div>
            <div class="col-4 img_btm">
                <img src="~/Resource/Image/LOGO_WITHOUT_BG/1.png" />
            </div>
        </div>
    </div>

</div>