<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuanLyHopDong.CLIENT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/QuanLyHopDong.CLIENT.styles.css" asp-append-version="true" /> *@
    <!-- ICONS -->
    <script src="https://unpkg.com/@@phosphor-icons/web"></script>
</head>
<body>
              
    <header style="background-color:#001529; ">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container-fluid">
                <div class="logon">
                    <img style="width:40px;" src="~/Resource/LOGO_WITHOUT_BG/2.png" />
                    <a style="color:white; font-weight:bold;" class="navbar-brand" asp-area="" asp-page="/Index">TEACHSEAL</a>
             
                </div>
                @* <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul> 
                </div>*@
            </div>
        </nav>
    </header>
    <div class="contai">
        @* <partial name="~/SideBar/_SideBarPartialViewEmpl" /> *@
        @Html.Partial("_SideBarPartialViewEmpl")

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>