@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMLogin
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link href="~/cssloading/style.css" rel="stylesheet" />
</head>
<body>
    <div class="loading">
        <div class="text">Loading</div>
        <label class="percent">100%</label>
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
    </div>
    <script>
        var text = document.querySelector(".text");
        var percent = document.querySelector(".percent");
        var progress = document.querySelector(".progress");
        var count = 4;
        var per = 16;
        var loading = setInterval(animate, 50);
        function animate() {
            if (count == 100 && per == 400) {
                text.textContent = "TECH SEAL WELCOME";
                text.style.fontSize = "35px";
                text.classList.add("add");
                setTimeout(function () {
                    window.location.href = '/Verify/Index';
                }, 1900);
                clearInterval(loading);
            } else {
                per = per + 4;
                count = count + 1;
                progress.style.width = per + "px";
                percent.textContent = count + "%";
            }
        }
    </script>
</body>
</html>
