@* @model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMLogin *@
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- ICONS -->
    <script src="https://unpkg.com/@@phosphor-icons/web"></script>
    <style>
        .form_login {
            display: flex;
            height: 100vh;
        }

        .side,
        .banner {
            width: 50%;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .side {
            flex-direction: column;
        }
       
        .top img {
            width: 366px;
            height: 366px;
        }

        .form {
            width: 486px;
            height: 520px;
            border-radius: 46px;
            background-color: rgba( 217, 217, 217, 0.3);
        }

        h3 {
            display: flex;
            height: 123px;
            flex-direction: column;
            justify-content: center;
            color: #0f172a;
            text-align: center;
            font-family: Montserrat;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0 auto;
            opacity: 0.3;
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 50%;
            height: 100vh;
            background-color: #9D9D9D;
            z-index: 999;
            opacity: 0.2;
        }

        div[class="mb-3"] {
            max-width: 400px;
            margin: 0 auto;
            color: #0f172a;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        div[class="row justify-content-between"] {
            max-width: 400px;
            margin: 0 auto;
            padding-top: 10px;
            align-items: center;
            color: #0f172a;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            opacity: 0.3;
        }

        div[class="mb-3"] > button {
            width: 400px;
            margin: 0 auto;
            height: 50px;
            margin-top: 10px;
            border-radius: 10px;
            background: #6FB1FC;
            color: #FFFF;
            font-weight: bold;
            border: none;
        }
        div[class="mb-3"] > button > a{
            color: white;
            font-weight: bold;
            text-decoration: none;
        }

        div[class="mb-3"] > label {
            opacity: 0.3;
        }

        div[class="mb-3"] input {
            border-radius: 15px;
            background: #D9D9D9;
            height: 50px;
        }

        .otp-container {
            display: flex;
            justify-content: center;
        }

        .otp-input {
            width: 40px;
            height: 40px;
            margin: 0 5px;
            text-align: center;
            font-size: 18px;
        }

        .col-md-6 a{
             margin: 10px;
             display: flex;
             cursor: pointer ;
             text-decoration:underline;
        }

        .disabled {
            opacity: 0.5;
          
        }
    </style>
</head>
<body>
    <div class="form_login">
        <div class="overlay"></div>
        <div class="banner">
            <img src="~/Resource/Image/Background_Login.png" />
        </div>
        <div class="side">
            <div class="top">
                <img src="~/Resource/Image/LOGO_WITHOUT_BG/2.png" />
            </div>
            <form asp-controller="Verify" asp-action="Login" method="post">
                <div class="form">
                    <h3>CẤP LẠI MẬT KHẨU</h3>
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">EMAIL</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="abc@gmail.com" required>
                        <span class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">MÃ OTP</label>
                        <div class="otp-container">
                            <input class="otp-input" type="text" maxlength="1">
                            <input class="otp-input" type="text" maxlength="1">
                            <input class="otp-input" type="text" maxlength="1">
                            <input class="otp-input" type="text" maxlength="1">
                            <input class="otp-input" type="text" maxlength="1">
                            <input class="otp-input" type="text" maxlength="1">
                        </div>
                        <span class="text-danger"></span>
                    </div>
                    <div class="row justify-content-around" style="color:cornflowerblue;width: 450px;margin: auto;">
                        <div class="col-md-6">
                            <a id="myButton" onclick="handleClick(event)">[Lấy mã OTP]</a>
                        </div>
                        <div class="col-md-6" style="text-align:end;">
                            <a style="display:flex; justify-content:end;">[Gửi lại OTP]</a>
                        </div>
                    </div>

                    <div class="mb-3">
                        <button type="submit">
                            ĐẶT LẠI MẬT KHẨU
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</html>
<script>
    let isButtonDisabled = false;

    function handleClick(event) {
        var email = {
                Email: $('#inputEmail').val()
            };
        console.log(JSON.stringify(email));
            $.ajax({
                url: '@Url.Action("GetOTP")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(email),
                success: function (result) {
                    if (!result.success) {
                    const button = document.getElementById('myButton');
                    if (!isButtonDisabled) {
                        disableButtonForSeconds(60000);
                        button.style.cursor = 'not-allowed';
                    }
                    event.preventDefault();
                    
                    }
                },
                error: function () {
                    console.error('Lỗi khi gửi yêu cầu.');
                }
            });
            
    }
   
    function disableButtonForSeconds(milliseconds) {
        isButtonDisabled = true;
        document.getElementById('myButton').classList.add('disabled');
        setTimeout(() => {
            isButtonDisabled = false;
            document.getElementById('myButton').classList.remove('disabled');
            document.getElementById('myButton').style.cursor = 'pointer';
        }, milliseconds);
    }


</script>
