@page
@model QuanLyHopDongVaKySo_CLIENT.Pages.InstallationStaff.CompleteRecordModel
@{
}
<div class="container-fluid">
    <button class="return">
        <i class="ph-bold ph-arrow-left"></i>
    </button>
    <div class="row" style=" margin: 40px auto; height:100%; border-radius:16px;">
        <div class="col-md-5">
            <div class="box1">
                <div class="avatar">
                    <img src="~/Resource/Image/LOGO_WITHOUT_BG/1.png" style="width: 248px;height: 215px;" />
                </div>
                <form class="row g-3" style="width:500px; margin: 0 auto;">
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Biên bản lắp đặt</label>
                    </div>
                    <div class="col-md-6">
                        <button for="inputEmail4" class="form-label" style="border-radius: 8px;
background: #2CA8DD; height: 40px;
padding: 8px 12px;color: #FFFFFF;
font-family: Jost;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
    ALIGN-ITEMS: CENTER;
    display: flex;
    justify-content: center; border:none; width:100%;">
                            CHI TIẾT
                        </button>
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Họ và tên</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Email</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">CCCD/CMND</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label">Ngày cấp</label>
                        <input type="date" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label">Ngày hết hạn</label>
                        <input type="date" class="form-control" id="inputCity">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="inforCus" style="position: absolute;top: 120px;left: 950px;">
        <h4 style="color: #4318FF;">
            Nhân viên chiệu trách nhiệm lắp
        </h4>
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputName" class="form-label">Họ và tên</label>
                <input type="text" class="form-input" id="inputName" placeholder="Họ và tên">
            </div>
            <div class="col-md-3">
                <label for="inputState" class="form-label">Giới tính</label>
                <select id="inputState" class="form-select" style="background-color:transparent;">
                    <option selected>Nam</option>
                    <option>Nữ</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputCCCD" class="form-label">CCCD/CMND</label>
                <input type="text" class="form-input" id="inputCCCD" placeholder="CCCD/CMND">
            </div>
            <div class="col-md-5">
                <label for="inputPhone" class="form-label">Số điện thoại</label>
                <input type="text" class="form-input" id="inputPhone" placeholder="Số điện thoại">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Địa chỉ Email</label>
                <input type="email" class="form-input" id="inputEmail4" placeholder="Địa chỉ Email">
            </div>
            <div class="col-md-5">
                <label for="inputAddress" class="form-label">Nơi ở</label>
                <input type="text" class="form-input" id="inputAddress" placeholder="Địa chỉ nơi ở">
            </div>
        </form>
        <h4 style="color: #4318FF;font-family: Source Sans Pro; padding-top:30px;">
            Hướng dẫn chi tiết
        </h4>
        <div class="col-md-12">
            <label for="inputAddress" class="form-label">Địa chỉ lấp cụ thể</label>
            <input type="text" class="" id="inputName" style="border-radius: 20px;background: #D9D9D9; width: 99%; border: none;border: none;outline: none;height: 60px;">
        </div>
        <div class="col-md-12" style="padding-top:10px;">
            <label for="inputAddress" class="form-label">Danh sách công việc cụ thể</label>
            <textarea type="text" class="" id="inputName" style="border-radius: 10px;background: #D9D9D9; width: 99%; border: none;border: none;outline: none;height: 160px;"></textarea>
        </div>
        <div class="col-md-12 custom_center" style="display: flex;
    justify-content: center;
    align-items: center;
margin-top:20px;">
            <button style="display: flex;
width: 331px;
height: 40px;
padding: 8px 12px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
border-radius: 8px;
background: #2CDDB3;
font-weight:bold;
color:#FFFFFF;
border:none;">
                XÁC NHẬN HOÀN TẤT BIÊN BẢN LẮP ĐẶT
            </button>
        </div>
    </div>
</div>