@page
@model QuanLyHopDongVaKySo_CLIENT.Pages.InstallationStaff.SignedByCusModel
@{
}
<div class="container-fluid">
    <button class="create_regions">
        <i class="ph-bold ph-arrow-left"></i>
    </button>
    <div class="fit_email">
        <h5>adc@gmail.com</h5>
    </div>
    <h4 style="color: #4318FF;">Xác nhận ký nhân viên lắp đặt</h4>
    <div class="row" id="form_SignedCus">
        <div class="col-4">
            <div class="img_Sig">
                <img src="/Resource/Image/LOGO_WITHOUT_BG/1.png" style="width:100%;" />
            </div>
            <h6 style="color: #4318FF;">Vùng ký thử cho khách hàng</h6>
            <div class="signing-Zone">

            </div>
            <div class="row justify-content-around" style="padding:35px 0;">
                <div class="col-3">
                    <button class="del">
                        XOÁ
                    </button>
                </div>
                <div class="col-3">
                    <button class="Sign">
                        KHÁCH KÝ
                    </button>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <button class="access">
                        XÁC NHẬN KÝ 
                    </button>
                </div>
            </div>
        </div>

        <div class="col-8">
            <button id="drawButton" class="draw-button">
                <i class="ph-bold ph-note-pencil"></i>
            </button>
            <embed id="drawArea" src="path_to_your_pdf.pdf" type="application/pdf" style="width: 100%; height:100%;">
        </div>
    </div>
</div>