@page
@model QuanLyHopDongVaKySo_CLIENT.Pages.InstallationStaff.SignedByCusModel
@{
}
<div class="container-fluid">
    <button style="font-size:30px; border:none; background-color:transparent;">
        <i class="ph-bold ph-arrow-left"></i>
    </button>
    <div class="fit_email">
        <h5>adc@gmail.com</h5>
    </div>
    <div class="row form_create" style="padding-top:30px;">
        <div class="col-4" >
            <h4 style="color: #4318FF;">Xác nhận ký nhân viên lắp đặt</h4>
            <div class="upForm" style="width: 343px;
height: 321px;
flex-shrink: 0;
border-radius: 40px;
background: rgba(217, 217, 217, 0.50);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);">
                <img src="alt.png" />
            </div>
            <div class="row justify-content-around">
                <div class="col-3">
                    <button style="display: flex;
width: 100%;
height: 25.003px;
padding: 0px 8px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 10px;
background: #2CA8DD;
border:none;
color:#FFFFFF;">
                        XÁC NHẬN
                    </button>
                </div>
                <div class="col-3">
                    <button style="display: flex;
width: 100%;
height: 25.003px;
padding: 0px 8px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 10px;
background: #2CA8DD;
border:none;
color:#FFFFFF;">
                        KHÁCH KÝ
                    </button>
                </div>
            </div>
        </div>

        <div class="col-8">
            <button id="drawButton" class="draw-button">
                <i class="ph-bold ph-note-pencil"></i>
            </button>
            <embed id="drawArea" src="path_to_your_pdf.pdf" type="application/pdf" style="width: 100%; height:100%;">
        </div>
    </div>
</div>