@model QuanLyHopDongVaKySo.CLIENT.Models.ModelPost.PostCustomer
@{
    string userRole = Context.Request.HttpContext.Session.GetString("Role");

}
@* <style>
    .loading {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.479);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .loading img {
            width: 7rem;
        }
</style> *@
<div class="container-fluid">


    @if (userRole == "Admin")
    {
        Layout = "_AdminLayout";
        <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                    <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                    <li class="breadcrumb-item"><a>Quản lý tài khoản người dùng</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Danh sách khách hàng</li>
                </ol>
            </nav>
            <h1 class="typeHead">THÊM KHÁCH HÀNG</h1>
            <div class="row">
                <a class="col-md-2 button-design" asp-action="ListCusAccount" asp-controller="Admin">
                    <i class="ph-bold ph-arrow-left"></i>
                    QUAY LẠI
                </a>
            </div>
        </div>

    }
    else
    {
        Layout = "_Layout";
        <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                    <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                    <li class="breadcrumb-item"><a>Quản lý khách hàng</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Danh sách khách hàng</li>
                </ol>
            </nav>
            <h1 class="typeHead">THÊM KHÁCH HÀNG</h1>
        </div>

    }

    <form class="row justify-content-around mx-auto my-auto mt-5" method="post" asp-action="AddCusAction" asp-controller="BusinessStaff">
        <div class="col-md-5">
            <div class="box1 row justify-content-between g-3 " style=" max-height: 800px;overflow-y: scroll;">
                <div class="col-md-6">
                    <label class="form-label fw-bold">Họ và tên</label>
                    <input class="form-control" id="inputName" asp-for="FullName" required>
                    <span class="text-danger" asp-validation-for="FullName"></span>
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-bold">Năm sinh</label>
                    <input type="date" class="form-control" asp-for="DateOfBirth" required>
                    <span class="text-danger" asp-validation-for="DateOfBirth"></span>
                </div>

                <div class="col-md-6">
                    <label for="inputName" class="form-label fw-bold">Số điện thoại</label>
                    <input class="form-control" asp-for="PhoneNumber" maxlength="12" required>
                    <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                </div>
                <div class="col-md-6">
                    <label for="inputGender" class="form-label fw-bold">Giới tính</label>
                    <select style="background-color: #F3F3F3;" required asp-for="Gender" class="form-control">
                        <option value="" disabled selected>...Chọn giới tính</option>
                        <option value="1">Nam</option>
                        <option value="2">Nữ</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="inputCCCD" class="form-label fw-bold">Giấy ủy quyền</label>
                    <input class="form-control" asp-for="PowerOfAttorneyNum" maxlength="12">
                    <span class="text-danger" asp-validation-for="PowerOfAttorneyNum"></span>
                </div>
                <div class="col-md-6">
                    <label for="inputDateStart" class="form-label fw-bold">Ngày ủy quyền</label>
                    <input type="date" class="form-control" asp-for="DatePOA">
                    <span class="text-danger" asp-validation-for="DatePOA"></span>
                </div>
                <div class="col-md-6">
                    <label for="inputDateEnd" class="form-label fw-bold">Người ủy quyền</label>
                    <input class="form-control" asp-for="WhoPOA">
                    <span class="text-danger" asp-validation-for="WhoPOA"></span>
                </div>
                <div class="col-md-6">
                    <label for="inputDateStart" class="form-label fw-bold">Email</label>
                    <input class="form-control" type="email" asp-for="Email" required>
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="col-md-6">
                    <label for="inputDateEnd" class="form-label fw-bold">FAX</label>
                    <input class="form-control" asp-for="FAX">
                    <span class="text-danger" asp-validation-for="FAX"></span>
                </div>
                <div class="col-md-6">
                    <label for="inputDateStart" class="form-label fw-bold">CCCD/CMND</label>
                    <input class="form-control" asp-for="Identification" required>
                    <span class="text-danger" asp-validation-for="Identification"></span>
                </div>
                <div class="col-md-6">
                    <label for="inputDateEnd" class="form-label fw-bold">Ngày cấp</label>
                    <input type="date" class="form-control" asp-for="IssuedDate" required>
                    <span class="text-danger" asp-validation-for="IssuedDate"></span>
                </div>
                <div class="col-md-6">
                    <label for="inputDateStart" class="form-label fw-bold">Nơi cấp</label>
                    <input class="form-control" asp-for="IssuedPlace" required>
                    <span class="text-danger" asp-validation-for="IssuedPlace"></span>
                </div>
                <div class="col-md-6">
                    <label for="inputNational" class="form-label fw-bold">Quốc tịch</label>
                    <input class="form-control" asp-for="Nationality" required>
                    <span class="text-danger" asp-validation-for="Nationality"></span>
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label fw-bold">Địa chỉ thường trú</label>
                    <textarea style="background-color: #F3F3F3;" class="form-control" asp-for="Address" required id="inputAddress"></textarea>
                    <span class="text-danger" asp-validation-for="Address"></span>
                    <div class="checkbox-container">
                        <label class="checkbox-label" for="checkbox">Sao chép địa chỉ thường trú đến địa chỉ báo cước và xuất hóa đơn</label>
                        <input type="checkbox" id="checkbox" />
                    </div>
                </div>
            </div>
        </div>
        @**@
        <div class="col-md-5">
            <div class="box2 row justify-content-between g-3 " style=" max-height: 800px;overflow-y: scroll;">
                <div class="col-md-6">
                    <label for="inputTaxCode" class="form-label fw-bold">Số tài khoản</label>
                    <input class="form-control" asp-for="BankAccount">
                    <span class="text-danger" asp-validation-for="BankAccount"></span>
                </div>
                <div class="col-md-6">
                    <label for="inputAddress2" class="form-label fw-bold">Ngân hàng</label>
                    <input class="form-control" asp-for="BankName">
                    <span class="text-danger" asp-validation-for="BankName"></span>
                </div>
                <div class="col-md-12">
                    <label for="inputPass" class="form-label fw-bold">Mã số thuế</label>
                    <input style="background-color: #F3F3F3;" class="form-control" asp-for="TaxIDNumber">
                    <span class="text-danger" asp-validation-for="TaxIDNumber"></span>
                </div>
                <div class="col-md-12">
                    <label for="ChargeNoticeAddress" class="form-label fw-bold">Địa chỉ báo cước</label>
                    <input style="background-color: #F3F3F3;" class="form-control" id="ChargeNoticeAddress" asp-for="ChargeNoticeAddress" required>
                    <span class="text-danger" asp-validation-for="ChargeNoticeAddress"></span>
                </div>
                <div class="col-12">
                    <label for="BillingAddress" class="form-label fw-bold" style="color: #525252;
                    font-size: 18px;
                    font-family: Joxt;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    ">Địa chỉ xuất hóa đơn</label>
                    <input style="background-color: #F3F3F3;" class="form-control" asp-for="BillingAddress" id="BillingAddress" required>
                    <span class="text-danger" asp-validation-for="BillingAddress"></span>
                </div>
                <div class="col-12">
                    <div>
                        <input type="checkbox" class="form-check-input" id="enable-input">
                        <label for="enable-input">Khách hàng doanh nghiệp</label>
                    </div>
                    <div class="content row" style="height: 300px;width: 95%;margin: 10px auto; ">
                        <div class="col-md-5" style="margin:0 auto;">
                            <label for="inputNameBuss" class="form-label fw-bold">Tên doanh nghiệp</label>
                            <input class="form-control" id="inputNameBuss" asp-for="BuisinessName" disabled>
                            <span class="text-danger" asp-validation-for="BuisinessName"></span>
                        </div>
                        <div class="col-md-5" style="margin:0 auto;">
                            <label for="inputPosition" class="form-label fw-bold">Chức vụ</label>
                            <input class="form-control" id="inputPosition" asp-for="Position" disabled>
                            <span class="text-danger" asp-validation-for="Position"></span>
                        </div>
                        <div class="col-md-5" style="margin:0 auto;">
                            <label for="certi" class="form-label fw-bold">Số chứng nhận doanh nghiệp</label>
                            <input class="form-control" id="certi" asp-for="BuisinessNumber" disabled>
                            <span class="text-danger" asp-validation-for="BuisinessNumber"></span>
                        </div>
                        <div class="col-md-5" style="margin:0 auto;">
                            <label for="dateSDN" class="form-label fw-bold">Ngày cấp SDN</label>
                            <input type="date" class="form-control" id="dateSDN" asp-for="BNDate" disabled>
                            <span class="text-danger" asp-validation-for="BNDate"></span>
                        </div>
                        <div class="col-md-10" style="margin:0 auto;">
                            <label for="adSDN" class="form-label fw-bold">Nơi cấp SDN</label>
                            <input class="form-control" id="adSDN" asp-for="BNPlace" disabled>
                            <span class="text-danger" asp-validation-for="BNPlace"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mt-3">
                    <label class="mb-3 mr-1 form-label fw-bold" for="Status">Trạng thái tài khoản: </label>
                    <div>
                        <input type="radio" class="btn-check " asp-for="IsLocked" id="false" value="false" autocomplete="off" required>
                        <label class="btn btn-sm btn-outline-success text-light" id="false-label" for="false">Hoạt động</label>

                        <input type="radio" class="btn-check " asp-for="IsLocked" id="true" value="true" autocomplete="off" required>
                        <label class="btn btn-sm btn-outline-danger text-light" id="true-label" for="true">Khoá</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="note" class="form-label fw-bold">Ghi chú</label>
                    <textarea style="background-color: #F3F3F3;" class="form-control" asp-for="Note"></textarea>
                    <span class="text-danger" asp-validation-for="Note"></span>
                </div>
                <div class="col-md-5" style="margin: 40px auto;">
                    <div class="loading" id="loading">
                        <img src="https://icon-library.com/images/spinner-icon-gif/spinner-icon-gif-10.jpg" alt="loading">
                    </div>
                    <button class="add_cus" type="submit" >
                        Thêm
                    </button>
                </div>
            </div>

        </div>
    </form>

</div>
<script src="~/js/AddCus.js" type="text/javascript"></script>
<script type="text/javascript">

    //  const iconLoading = document.getElementById("loading");

    // const showLoading = () => {
    //     iconLoading.style.display = "flex";
    // };

    // const hideLoading = () => {
    //     iconLoading.style.display = "none";
    // };

    // const updatePosition = () => {
    //     showLoading(); // Show loading spinner when the button is clicked

    //     // You can perform additional logic here before or after the form submission
    //     // For example, submit the form programmatically
    //     document.querySelector('form').submit();

    //     // If you want to prevent the form from submitting immediately, you can remove the form submission line

    //     // Hide loading spinner after the form submission is complete
    //     setTimeout(() => {
    //         hideLoading(); // Hide loading icon after some time (replace this with your actual logic)
    //     }, 1000);
    // };

    $(document).ready(function () {
        // Lắng nghe sự kiện khi checkbox được thay đổi
        $("#checkbox").change(function () {
            if ($(this).is(":checked")) {
                // Nếu checkbox được chọn, gán giá trị từ input 1 vào input 2 và 3
                var inputValue = $("#inputAddress").val();
                $("#ChargeNoticeAddress").val(inputValue);
                $("#BillingAddress").val(inputValue);
            }
        });

        // Lắng nghe sự kiện khi giá trị của input 2 hoặc input 3 thay đổi
        $("#ChargeNoticeAddress, #BillingAddress").on("input", function () {
            // Nếu giá trị khác với input 1, làm cho checkbox không được chọn
            if ($(this).val() !== $("#inputAddress").val()) {
                $("#checkbox").prop("checked", false);
            }
        });
    });
</script>