@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMCreateFormForCus
@{
}
<div class="container-fluid">
    <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                <li class="breadcrumb-item"><a>Quản lý khách hàng</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Danh sách khách hàng</li>
            </ol>
        </nav>
        <h1 class="typeHead">TẠO HỢP ĐỒNG</h1>
    </div>
    <div style="margin-top: 30px;" class="row justify-content-center">
        <div class="col-4">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">ĐỊA CHỈ LẮP ĐẶT</label>
            </div>
        </div>
        <div class="col-4">
            <div class="box_Svd">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default"><i class="ph-bold ph-magnifying-glass"></i></span>
                    <input type="search" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <ul class="listSVC">
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                WIFI
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                WIFI
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                            <label class="form-check-label" for="exampleRadios3">
                                WIFI
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4">
                            <label class="form-check-label" for="exampleRadios4">
                                WIFI
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option5">
                            <label class="form-check-label" for="exampleRadios5">
                                WIFI
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option5">
                            <label class="form-check-label" for="exampleRadios5">
                                WIFI
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option5">
                            <label class="form-check-label" for="exampleRadios5">
                                WIFI
                            </label>
                        </div>
                    </li>
                </ul>


            </div>
        </div>
    </div>
    <div class="row" style="margin: 40px auto; width:300px;">
        <button class="add_cus" type="submit">
            TẠO HỢP ĐỒNG
        </button>
    </div>

</div>