@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <div class="row" style="background-color:#FFFFFF; margin: 40px auto; height:100%; border-radius:16px;">
        <div class="col-6" style="margin: 20px; border-radius:10px;">
            <div class="showFile">
                <h4 style="color: #4318FF; font-family:Source Sans Pro; display: flex;justify-content: center;padding-top: 10px;">Hợp đồng từ chối duyệt</h4>
                <img src="~/Resource/Image/Contract_IMG.png" style="margin: 0px 50px 20px 50px; width: 500px;height: 750px; background-color:#FFFF;" />
            </div>
        </div>
        <img src="~/Resource/Image/LOGO_WITHOUT_BG/2.png" class="logo_sz" />
    </div>
    <div class="inforCus" style="position: absolute;top: 120px;left: 900px;">
        <h4 style="    color: #4318FF;font-family: Source Sans Pro;">
            Thông tin khách hàng
        </h4>
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputName" class="form-label">Họ và tên</label>
                <input type="text" class="form-input" id="inputName" placeholder="Họ và tên">
            </div>
            <div class="col-md-3">
                <label for="inputState" class="form-label">Giới tính</label>
                <select id="inputState" class="form-select">
                    <option selected>Nam</option>
                    <option>Nữ</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputCCCD" class="form-label">CCCD/CMND</label>
                <input type="text" class="form-input" id="inputCCCD" placeholder="CCCD/CMND">
            </div>
            <div class="col-md-5">
                <label for="inputPhone" class="form-label">Số điện thoại</label>
                <input type="text" class="form-input" id="inputPhone" placeholder="Số điện thoại">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Địa chỉ Email</label>
                <input type="email" class="form-input" id="inputEmail4" placeholder="Địa chỉ Email">
            </div>
            <div class="col-md-5">
                <label for="inputAddress" class="form-label">Nơi ở</label>
                <input type="text" class="form-input" id="inputAddress" placeholder="Địa chỉ nơi ở">
            </div>
        </form>
        <h4 style="color: #4318FF;font-family: Source Sans Pro; padding-top:30px;">
            Dịch vụ sử dụng
        </h4>
        <input type="text" class="" id="inputName" placeholder="Tên dịch vụ" style="border-radius: 20px;background: #D9D9D9; width: 400px; border: none;border: none;outline: none;height: 40px;">
        <div class="button_design row justify-content-center " style="margin-top:70px;">
            <div class="col-md-5">
                <button style="border-radius: 12px;background: rgba(44, 168, 221, 0.58); height:40px; border:none; color: white;font-weight:bold;">
                    CẬP NHẬT HỢP ĐỒNG
                </button>
            </div>
        </div>

    </div>
</div>