
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link href="~/php/style.css" rel="stylesheet" />


<div class="container-fluid">
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <br />
                <div class="m-l-15">
                    <h4 class="m-b-0"
                        style="width: 512px; height: 52px; color: #2B3674; font-size: 34px; font-family: DM Sans; font-weight: 700; line-height: 42px; word-wrap: break-word">
                        Chỉnh sửa cấu hình hợp đồng mẫu
                    </h4>
                </div>
            </div>

        </div>
    </div>
    <div style="margin: 10px;display: flex;align-items: end;justify-content: end;">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <br />
    <div style="display: flex; justify-content: space-evenly; gap: 50px;">
        
        <button id="addDirectorSignature" type="button" class="button-22">Thêm vị trí chữ ký giám đốc</button>
        <button id="addEmployeeSignature" type="button" class="button-22">Thêm vị trí chữ ký nhân viên</button>
    </div>
    <div id="paginationContainer" class="pagination" style="margin-left: 220px;"></div>
    <br>
    <div id="pdfContainer"></div>
    


    <button class="btn btn-primary" id="savePositions" style="margin: 20px; width:300px;">
        <div class="row action">
            <a class="m-4">CẬP NHẬT <i class="ph-bold ph-user-plus" style="font-size:20px; padding-left:10px;"></i> </a>
        </div>
    </button>
</div>



<script src="~/php/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>