@model QuanLyHopDongVaKySo_API.Models.TemplateMinute

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link href="~/php/style.css" rel="stylesheet" />


<div class="container-fluid">
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <br />
                <div class="m-l-15">
                    <h4 class="m-b-0"
                        style="width: 512px; height: 52px; color: #2B3674; font-size: 25px; font-family: DM Sans; font-weight: 700; line-height: 42px; word-wrap: break-word">
                        Chỉnh sửa cấu hình hợp đồng biên bản
                    </h4>
                </div>
            </div>

        </div>
    </div>
    <div style="margin: 10px;display: flex;align-items: end;justify-content: end;">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <br />
    <form class="row justify-content-around" style=" margin: 0 auto;" asp-action="TUpdateMinute" asp-controller="BusinessStaff" method="post">
        <div class="col-md-5">
            <div class="box1 row justify-content-between g-3 " style=" max-height: 800px;overflow-y: scroll; height:500px;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="col-md-6">
                    <label asp-for="TMinuteID" class="form-label">Id</label>
                    <input class="form-control" disabled id="inputName" asp-for="TMinuteID">
                    <span class="text-danger" asp-validation-for="TMinuteID"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="jsonIntallationZone" class="form-label">Vị trí tải chữ ký </label>
                    <input class="form-control" id="inputName" asp-for="jsonIntallationZone">
                    <span class="text-danger" asp-validation-for="jsonIntallationZone"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="jsonCustomerZone" class="form-label">Vị trí chữ ký của nhân viên</label>
                    <input class="form-control" id="inputName" asp-for="jsonCustomerZone">
                    <span class="text-danger" asp-validation-for="jsonCustomerZone"></span>
                </div>
                <div class="col-md-7" style="margin:auto; padding: 20px 0;">
                    <button type="submit">
                        CẬP NHẬT
                    </button>
                </div>
            </div>
        </div>
        @**@
    </form>
</div>


