@page
@model QuanLyHopDongVaKySo_CLIENT.Pages.BusinessStaff.ContractFormPageModel
@{
}
<div class="container-fluid">
    <div class="header">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-container" style="display:flex; margin-top: 30px;">
        <div class="tab-button" style="border-radius: 20px 0 0 20px;" onclick="showTab('tab1')">Tất cả</div>
        <div class="tab-button" onclick="showTab('tab2')">Tab 2</div>
        <div class="tab-button" style="border-radius: 0 20px 20px 0;" onclick="showTab('tab3')">Tab 3</div>
    </div>
    <div class="tab-content active" id="tab1">
        <div class="row">
            <h4 style="color: #4318FF; font-family:Source Sans Pro;">Tải mẫu để lưu trữ</h4>
            <div class="col-4">
                <div class="upForm">
                    <button class="upload">
                        <i class="ph-bold ph-upload-simple"></i>
                    </button>
                    <h3 style="color: #4318FF;">UPLOAD FILE</h3>
                </div>
                <img src="~/Resource/Image/LOGO_WITHOUT_BG/1.png"/>
            </div>
            <div class="col-8">
                
            </div>
        </div>
    </div>
    <div class="tab-content" id="tab2">Content for Tab 2 goes here.</div>
    <div class="tab-content" id="tab3">Content for Tab 3 goes here.</div>

</div>
<script>
    function showTab(tabId) {
        // Ẩn tất cả các nội dung tab
        var tabContents = document.querySelectorAll('.tab-content');
        tabContents.forEach(function (content) {
            content.classList.remove('active');
        });

        // Ẩn tất cả các tab-button
        var tabButtons = document.querySelectorAll('.tab-button');
        tabButtons.forEach(function (button) {
            button.classList.remove('active');
        });

        // Hiển thị nội dung của tab được chọn và làm cho tab-button trở nên active
        var selectedTab = document.getElementById(tabId);
        selectedTab.classList.add('active');

        var selectedButton = document.querySelector('[onclick="showTab(\'' + tabId + '\')"]');
        selectedButton.classList.add('active');
    }
</script>