@page
@model QuanLyHopDongVaKySo_CLIENT.Pages.BusinessStaff.ContractListPageModel
@{
}
<div class="container-fluid">
    <div class="header">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <div class="listTable">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">TÊN HỢP ĐỒNG</th>
                    <th scope="col">NGÀY TẠO</th>
                    <th scope="col">CHỮ KÝ GIÁM ĐỐC</th>
                    <th scope="col">CHỮ KÝ KHÁCH HÀNG</th>
                    <th scope="col">FILE HỢP ĐỒNG</th>
                    <th scope="col">MÃ KHÁCH HÀNG</th>
                    <th scope="col">MÃ DỊCH VỤ</th>
                    <th scope="col">MÃ NHÂN VIÊN</th>
                    <th scope="col">MÃ HỢP ĐỒNG MẪU</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>