@page
@model QuanLyHopDongVaKySo_CLIENT.Pages.BusinessStaff.ListCusModel
@{
}
<div class="container-fluid">
    <div class="header">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <button class="addCus">
        <a asp-page="./AddCus">
            THÊM KHÁCH HÀNG MỚI
            <i class="ph-bold ph-user-plus"></i>
        </a>
            
    </button>

    <div class="listTable_Cus">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">SDT</th>
                    <th scope="col">ĐỊA CHỈ</th>
                    <th scope="col">HỌ VÀ TÊN</th>
                    <th scope="col">DỊCH VỤ ĐÃ ĐĂNG KÝ</th>
                    <th scope="col">HOẠT ĐỘNG</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">1</th>
                    <td>abc@123.com</td>
                    <td>1231313</td>
                    <td>12 long thanh</td>
                    <td>abc</td>
                    <td>Lắp Wifi</td>
                    <td>
                        <div class="row action">
                            <a asp-area="" asp-page="./DetailsCus"><i class="ph-bold ph-note-pencil"></i></a>
                            <a><i class="ph-bold ph-trash"></i></a>
                        </div>
                    </td>
                    <td>
                        <a asp-area="" asp-page="./DetailsCus">Chi tiết</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>abc@123.com</td>
                    <td>1231313</td>
                    <td>12 long thanh</td>
                    <td>abc</td>
                    <td>Lắp Wifi</td>
                    <td>
                        <div class="row action">
                            <a><i class="ph-bold ph-note-pencil"></i></a>
                            <a><i class="ph-bold ph-trash"></i></a>
                        </div>
                    </td>
                    <td>
                        <a href="#">Chi tiết</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>abc@123.com</td>
                    <td>1231313</td>
                    <td>12 long thanh</td>
                    <td>abc</td>
                    <td>Lắp Wifi</td>
                    <td>
                        <div class="row action">
                            <a><i class="ph-bold ph-note-pencil"></i></a>
                            <a><i class="ph-bold ph-trash"></i></a>
                        </div>
                    </td>
                    <td>
                        <a href="#">Chi tiết</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>abc@123.com</td>
                    <td>1231313</td>
                    <td>12 long thanh</td>
                    <td>abc</td>
                    <td>Lắp Wifi</td>
                    <td>
                        <div class="row action">
                            <a><i class="ph-bold ph-note-pencil"></i></a>
                            <a><i class="ph-bold ph-trash"></i></a>
                        </div>
                    </td>
                    <td>
                        <a href="#">Chi tiết</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>abc@123.com</td>
                    <td>1231313</td>
                    <td>12 long thanh</td>
                    <td>abc</td>
                    <td>Lắp Wifi</td>
                    <td>
                        <div class="row action">
                            <a><i class="ph-bold ph-note-pencil"></i></a>
                            <a><i class="ph-bold ph-trash"></i></a>
                        </div>
                    </td>
                    <td>
                        <a href="#">Chi tiết</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>