@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="sidebar">
    <div class="menu-btn">
        <i class="ph-bold ph-caret-left"></i>
    </div>
    <!-- <div class="head">
      <div class="user-img">
        <img src="user.jpg" alt="" />
      </div>
      <div class="user-details">
        <p class="title">web developer</p>
        <p class="name">John Doe</p>
      </div>
    </div> -->
    <div class="nav">
        <div class="menu">
            <ul>
                <li>
                    <a href="#">
                        @* <i class="icon ph-bold ph-house-simple"></i> *@
                        <i class="icon ph-bold ph-list-plus"></i>
                        <span class="text">Quản lý hợp đồng</span>
                        <i class="arrow ph-bold ph-caret-down"></i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a asp-controller="BusinessStaff" asp-action="ListInstallRecord">
                                <span class="text">Thêm mẫu hợp đồng</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="BusinessStaff" asp-action="">
                                <span class="text">Tạo hợp đồng</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="text">Danh sách hợp đồng</span>
                                <i class="arrow ph-bold ph-caret-down"></i>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a asp-area="" asp-page="/BusinessStaff/ContractListPagePending">
                                        <span class="text">Hợp đồng chờ duyệt</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-page="/BusinessStaff/ContractListPageWaitSign">
                                        <span class="text">Hợp đồng chờ khách ký</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-page="/BusinessStaff/ContractListPageRefuse">
                                        <span class="text">Hợp đồng từ chối duyệt</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-page="/BusinessStaff/ContractListPageEffect">
                                        <span class="text">Hợp đồng đang hiệu lực</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="icon ph-bold ph-user-list"></i>
                        <span class="text">Quản lý khách hàng</span>
                        <i class="arrow ph-bold ph-caret-down"></i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a asp-area="" asp-page="/BusinessStaff/ListCus">
                                <span class="text">Danh sách khách hàng</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a asp-area="" asp-page="/BusinessStaff/DetailsCus">
                        <i class="icon ph-bold ph-paper-plane-tilt"></i>
                        <span class="text">Gửi mail</span>

                    </a>

                </li>
                <li class="active">
                    <a asp-area="" asp-page="/_PersonalPagePartialView">
                        <i class="icon ph-bold ph-user"></i>
                        <span class="text">Cá nhân</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-page="/BusinessStaff/CreateFormContract">
                        <i class="icon ph-bold ph-clock-counter-clockwise"></i>
                        <span class="text">Lịch sử hoạt động</span>
                    </a>
                </li>

            </ul>
        </div>
        @* <div class="menu">
        <p class="title">Settings</p>
        <ul>
        <li>
        <a href="#">
        <i class="icon ph-bold ph-gear"></i>
        <span class="text">Settings</span>
        </a>
        </li>
        </ul>
        </div> *@
    </div>
    <div class="menu">

        <ul style="padding-left:10px;">
            <li>
                <a href="#">
                    <i class="icon ph-bold ph-sign-out"></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>