@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string userRole = Context.Request.HttpContext.Session.GetString("Role");
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<style>
    .loading {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.479);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .loading img {
            width: 7rem;
        }
</style>
<div class="loading" id="loading">
    <img src="https://icon-library.com/images/spinner-icon-gif/spinner-icon-gif-10.jpg" alt="loading">
</div>
@if (@userRole == "Giám đốc")
{
    <div class="sidebar">
        <div class="menu-btn">
            <i class="ph-bold ph-caret-left"></i>
        </div>
        <div class="nav">
            <div class="menu" style="width:100%;">
                <ul>
                    <li>
                        <a asp-controller="Director" asp-action="Contracts_PendingApproval" onclick="updateLoading()">
                            <i class="ph-bold ph-list-dashes" style="font-size:26px;"></i>
                            <span class="text">Hợp đồng chờ duyệt</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Director" asp-action="Contracts_Approved" onclick="updateLoading()">
                            <i class="ph-bold ph-list-checks" style="font-size:26px;"></i>
                            <span class="text">Hợp đồng đã duyệt</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Director" asp-action="Contracts_Rejected" onclick="updateLoading()">
                            <i class="ph ph-x-square" style="font-size:26px;"></i>
                            <span class="text">Hợp đồng từ chối</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Director" asp-action="Contracts_Active" onclick="updateLoading()">
                            <i class="ph ph-seal-check" style="font-size:26px;"></i>
                            <span class="text">Hợp đồng hoạt động</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Director" asp-action="Index" onclick="updateLoading()">
                            <i class="icon ph-bold ph-user"></i>
                            <span class="text">Cá nhân</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Director" asp-action="HistoryOperation" onclick="updateLoading()">
                            <i class="icon ph-bold ph-clock-counter-clockwise"></i>
                            <span class="text">Lịch sử hoạt động</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu">
            <ul style="padding-left:10px;">
                <li>
                    <a asp-controller="Verify" asp-action="Logout" onclick="updateLoading()">
                        <i class="icon ph-bold ph-sign-out"></i>
                        <span class="text">Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

}
else if (@userRole == "Nhân viên kinh doanh")
{
    <div class="sidebar">
        <div class="menu-btn">
            <i class="ph-bold ph-caret-left"></i>
        </div>
        <div class="nav">
            <div class="menu" style="width:100%;">
                <ul>
                    <li>
                        <a href="#">
                            <i class="icon ph-bold ph-user-list"></i>
                            <span class="text">Quản lý khách hàng</span>
                            <i class="arrow ph-bold ph-caret-down"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a asp-controller="BusinessStaff" asp-action="ListCus" onclick="updateLoading()">
                                    <span class="text">Danh sách khách hàng</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon ph-bold ph-list-plus"></i>
                            <span class="text">Quản lý hợp đồng</span>
                            <i class="arrow ph-bold ph-caret-down"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a asp-controller="BusinessStaff" asp-action="Contracts_PendingApproval" onclick="updateLoading()">
                                    <span class="text">Yêu cầu lắp đặt</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="BusinessStaff" asp-action="ContractListWaitSign" onclick="updateLoading()">
                                    <span class="text">Hợp đồng chờ khách ký</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="BusinessStaff" asp-action="ContractListRefuse" onclick="updateLoading()">
                                    <span class="text">Hợp đồng từ chối duyệt</span>
                                </a>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a href="#">
                            <i class="ph-bold ph-clipboard-text" style="font-size: 26px;"></i>
                            <span class="text">Hợp đồng / Biên bản mẫu</span>
                            <i class="arrow ph-bold ph-caret-down"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a asp-controller="BusinessStaff" asp-action="ListContractFormPage" onclick="updateLoading()">
                                    <span class="text">Danh sách mẫu hợp đồng</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="BusinessStaff" asp-action="ListMinuteFormPage" onclick="updateLoading()">
                                    <span class="text">Danh sách mẫu biên bản</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="BusinessStaff" asp-action="ContractFormPage" onclick="updateLoading()">
                                    <span class="text">Thêm mẫu hợp đồng</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="BusinessStaff" asp-action="MinuteFormPage" onclick="updateLoading()">
                                    <span class="text">Thêm mẫu biên bản</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Director" asp-action="Contracts_Active" onclick="updateLoading()">
                            <i class="ph-bold ph-list-checks" style="font-size: 26px;"></i>
                            <span class="text">Hợp đồng đã hoàn thành</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="BusinessStaff" asp-action="Index" onclick="updateLoading()">
                            <i class="icon ph-bold ph-user"></i>
                            <span class="text">Cá nhân</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="BusinessStaff" asp-action="HistoryOperation" onclick="updateLoading()">
                            <i class="icon ph-bold ph-clock-counter-clockwise"></i>
                            <span class="text">Lịch sử hoạt động</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu">
            <ul style="padding-left:10px;">
                <li>
                    <a asp-controller="Verify" asp-action="Logout" onclick="updateLoading()">
                        <i class="icon ph-bold ph-sign-out"></i>
                        <span class="text">Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

}
else
{
    <div class="sidebar">
        <div class="menu-btn">
            <i class="ph-bold ph-caret-left"></i>
        </div>
        <div class="nav">
            <div class="menu" style="width:100%;">
                <ul>
                    <li>
                        <a href="#">

                            <i class="icon ph-bold ph-list-plus"></i>
                            <span class="text">Quản lý yêu cầu lắp</span>
                            <i class="arrow ph-bold ph-caret-down"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a asp-controller="InstallStaff" asp-action="Record_Install_Require" onclick="updateLoading()">
                                    <span class="text">Danh sách yêu cầu lắp</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="InstallStaff" asp-action="Record_Install_Pendding" onclick="updateLoading()">
                                    <span class="text">Biên bản chờ lắp</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="InstallStaff" asp-action="Record_Install_Complete" onclick="updateLoading()">
                                    <span class="text">Biên bản đã lắp</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ph-bold ph-wrench" style="font-size:26px;"></i>
                            <span class="text">Quản lý thiết bị lắp</span>
                            <i class="arrow ph-bold ph-caret-down"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a asp-controller="InstallStaff" asp-action="ListTypeOfService" onclick="updateLoading()">
                                    <span class="text">Danh sách dịch vụ</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a asp-controller="InstallStaff" asp-action="Index" onclick="updateLoading()">
                            <i class="icon ph-bold ph-user"></i>
                            <span class="text">Cá nhân</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="InstallStaff" asp-action="HistoryOperation" onclick="updateLoading()">
                            <i class="icon ph-bold ph-clock-counter-clockwise"></i>
                            <span class="text">Lịch sử hoạt động</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu">

            <ul style="padding-left:10px;">
                <li>
                    <a asp-controller="Verify" asp-action="Logout" onclick="updateLoading()">
                        <i class="icon ph-bold ph-sign-out"></i>
                        <span class="text">Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
}
<script>
    const iconLoading = document.getElementById("loading");

    const showLoading = () => {
        iconLoading.style.display = "flex";
    };

    const hideLoading = () => {
        iconLoading.style.display = "none";
    };

    const updateLoading = () => {
        showLoading(); // Show loading spinner when the button is clicked

        setTimeout(() => {
            hideLoading(); // Hide loading icon after some time (replace this with your actual logic)
        }, 1000);
    };
</script>
