<div class="container-fluid">
    <div class="header">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <button class="browse">
            Duyệt hợp đồng
            <span class="badge text-bg-danger">1</span>
        </button>
        <button class="browse">
            Duyệt tất cả
        </button>
    </div>
    <div class="listTable_Cus">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">MÃ HỢP ĐỒNG</th>
                    <th scope="col">TÊN HỢP ĐỒNG</th>
                    <th scope="col">FILE HỢP ĐỒNG</th>
                    <th scope="col">GHI CHÚ</th>
                    <th scope="col">MÃ KHÁCH HÀNG</th>
                    <th scope="col">MÃ LOẠI DỊCH VỤ</th>
                    <th scope="col">MÃ NHÂN VIÊN</th>
                    <th scope="col">MÃ HỢP ĐỒNG MẪU</th>
                    <th scope="col">HOẠT ĐỘNG</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="row action">
                            <a><i class="ph-bold ph-note-pencil"></i></a>
                            <a><i class="ph-bold ph-trash"></i></a>
                        </div>
                    </td>
                    <td>
                        <a href="#">Chi tiết</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
