@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMDetailsContractAwait

@using Microsoft.AspNetCore.Hosting

@inject IWebHostEnvironment _hostingEnvironment

@{
    Layout = "";

    // Lấy link trực ảnh từ file tỉnh
    string folderPath = System.IO.Path.Combine(_hostingEnvironment.WebRootPath, "PContractImage"); // + thêm ID của contract

    string folderItem = System.IO.Path.Combine(folderPath, Model.PContract.PContractID);

    string[] imageFiles = Directory.GetFiles(folderItem);

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- ICONS -->
    <link rel="icon" href="/2.ico" type="image/x-icon">

    <script src="https://unpkg.com/@@phosphor-icons/web"></script>

    <!-- ssss-->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>

    <!-- SuperSignature : Script (required) -->
    <script language="javascript" type="text/javascript" src="~/Scripts/ss.js"></script>
    <!-- [[[ ***********  IMPORTANT: DONOT USE THIS SS.JS ON PRODUCTION;
         USE THE ONE AVAILABLE TO DOWNLOAD FROM YOUR DASHBOARD (POST PURCHASE) ************* ]]] -->
    <!-- BOOTSTRAP 4 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <style>
        body {
            background: linear-gradient(106deg, rgba(44, 168, 221, 0.88) 1.91%, rgba(7, 119, 207, 0.88) 97.8%);
            margin: 0 auto
        }

        .contai {
            width: 1748px;
            height: 891px;
            border-radius: 20px;
            background: var(--secondary-primary-white, #FFF);
            margin: 20px auto;
        }

        .img_Sig {
            width: 281px;
            height: 221px;
            margin: 0 auto;
        }

        .form_SignedCus {
            width: 100%;
            height: 800px;
            margin: 10px auto;
        }

            .form_SignedCus .col-4 {
                width: 400px;
                height: 100%;
                border-radius: 40px;
                background: rgba(217, 217, 217, 0.50);
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            }

        .signing-Zone {
            width: 560px;
            height: 300px;
            background-color: #FFF;
            stroke-width: 0.555px;
            stroke: #B9C2C8;
            margin: 0 auto;
            border-radius: 10px;
        }

        .del {
            display: flex;
            width: 103.471px;
            height: 28.286px;
            padding: 0px 8px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            border-radius: 10px;
            background: #FC6767;
            border: none;
            color: #FFFF;
        }

        .Sign {
            display: flex;
            width: 103.471px;
            height: 28.286px;
            padding: 0px 8px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            border-radius: 10px;
            background: #2CA8DD;
            border: none;
            color: #FFFF;
        }

        .access {
            display: flex;
            width: 240px;
            height: 40px;
            padding: 8px 12px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            border-radius: 50px;
            background: #2CDDBD;
            border: none;
            color: #FFFF;
            font-weight: bold;
            font-weight: bold;
        }

        div[class="form-inline"] {
            display: flex;
            justify-items: center;
            align-items: center;
            justify-content: center;
        }

        #loading-spinner {
            display: none;
            z-index: 1;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            position: fixed;
            top: 100%;
            left: 100%;
            transform: translate(-50%, -50%);
        }

        #loading-spinner > img {
            width: 10rem;
        }

    </style>

</head>
<body>
    <header style="background-color:#001529;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container-fluid">
                <div class="logo">
                    <img style="width:40px;" src="~/Resource/Image/LOGO_WITHOUT_BG/2.png" />
                    <a style="color:white; font-weight:bold;" class="navbar-brand" asp-area="" asp-page="/Index">TECHSEAL</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="contai">
            <h4 style="color: #4318FF; padding-left:80px; padding-top:20px;">Hợp đồng chờ ký</h4>
            <div class="row justify-content-around text-center form_SignedCus">
                <div class="col-4">
                    <div class="img_Sig">
                        <img src="~/Resource/Image/LOGO_WITHOUT_BG/1.png" style="width:100%;" />
                    </div>
                    <h5 style="color: #4318FF; text-align:start; margin-top:40px;">Vùng ký cho khách hàng</h5>
                    <div class="signing-Zone">
                        @await Component.InvokeAsync("SignControl")
                    </div>
                    <div class="row justify-content-around" style="padding:35px 0;">
                        <div class="form-inline">
                            <input type="button" id="btnUndo" class="btn btn-primary" onclick="UndoSignature('ctlSignature');" value="Trở lại" />&nbsp;
                            <input type="button" id="btnClear" class="btn btn-danger" onclick="ClearSignature('ctlSignature');" value="Xóa" />&nbsp;
                        </div>
                    </div>
                    <div class="row justify-content-center">

                        <div class="col-12" style="display:contents;">
                            <button class="access" id="btnSave" onclick="ValidateSign();">
                                XÁC NHẬN KÝ
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div id="myCarousel" class="carousel slide" style="width: 100%; height:100%;">
                        <div class="carousel-inner">
                            <div class="carousel-item active " style="width:800px;">
                                <img src="~/Resource/Image/LOGO/1.png" alt="Hình ảnh" style="margin:100px auto;" />
                            </div>
                            @foreach (var imgPath in imageFiles)
                            {
                                <div class="carousel-item" style="max-height: 800px;overflow-y: scroll;">
                                    <img src="@Url.Content("~/PContractImage/"+Model.PContract.PContractID+ "/" + System.IO.Path.GetFileName(imgPath))" alt="Hình ảnh" style="width:100%;" />
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev" style="margin: auto;background-color: black;font-size: 100px;width: 50px;height: 100px;">
                            <span class="carousel-control-prev-icon" aria-hidden="true" style="width:20px; height:20px;"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button style="margin: auto;background-color: black;font-size: 100px; width: 50px;height: 100px;" class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true" style="width:20px; height:20px;"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="loading-spinner">
        <img src="https://icon-library.com/images/spinner-icon-gif/spinner-icon-gif-10.jpg" alt="loading">
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</html>
<script type="text/javascript">

    var statV = false;

    function StatusBar() {
        SignatureStatusBar('ctlSignature', statV);
        statV = !statV; // toggle

        // change status bar look dynamically
        $('#ctlSignature_status').css({ "color": "orangered", "font-size": "12px", "font-weight": "bold", "float": "left" });
    }

    function ValidateSign() {


        var isValid = ValidateSignature('ctlSignature');

        if (!isValid) {
            $('#ctlSignature').css("border", "2px dashed red");
        }
        else {
            $('#ctlSignature').css("border", "2px dashed green");
        }

        if (isValid === true) {
            SaveSign();
        }
    }

    function SaveSign() {

       document.getElementById('loading-spinner').style.display = 'block';

        var btnSave = $("#btnSave");

        btnSave.prop('disabled', true);

        var ctlSignature = { Data: $("#ctlSignature_data").val(), Smooth: $("#ctlSignature_data_smooth").val() };
        $.ajax({
            url: "/Customer/SaveSignature/",
            data: JSON.stringify(ctlSignature),
            contentType: "application/json",
            type: 'POST',
            cache: false,
            success: function (data) {
                if (!data.success) {
                    document.getElementById('loading-spinner').style.display = 'none';
                    Swal.fire({
                        icon: 'success',
                        title: 'Ký thành công!',
                        text: 'Bạn đã ký hoàn tất. Vui lòng kiểm tra mail để xem hợp đồng.',
                    }).then((result) => {
                        close();
                    });
                }
            },
            error: function (textStatus, errorThrown) {
                document.getElementById('loading-spinner').style.display = 'none';
                Swal.fire({
                    icon: 'success',
                    title: 'Ký thành công!',
                    text: 'Bạn đã ký hoàn tất. Vui lòng kiểm tra mail để xem hợp đồng.',
                }).then((result) => {
                    close();
                });
            }
        });

        btnSave.prop('disabled', false);
        // Remove the following confirm block, as it duplicates the success message in the AJAX success callback
        // if (confirm("Bạn đã ký hoàn tất nhấn \"OK\" để đóng cửa số ")) {
        //     close();
        // }
    }

    function objctlSignature_status(success, points) {
        $("#liStatus").html("<strong>Signature done? : " + success + ", with " + points + " points.</strong>");
    }

    $(document).ready(function () { StatusBar(); });

    $(document).ready(function () {
        $('#myCarousel').carousel({
            interval: false
        });
    });
</script>