@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment _hostingEnvironment
@model QuanLyHopDongVaKySo_API.ViewModels.DContractViewModel

@{
    Layout = "";
    // Lấy link trực ảnh từ file tỉnh
    string folderPathDContract = System.IO.Path.Combine(_hostingEnvironment.WebRootPath, "ContractImage"); // + thêm ID của contract

    string folderItemDContract = System.IO.Path.Combine(folderPathDContract, Model.Id.ToString());

    string[] imageFilesDContract = Directory.GetFiles(folderItemDContract);


    string folderPathDMinute = System.IO.Path.Combine(_hostingEnvironment.WebRootPath, "MinuteImage"); // + thêm ID của minute

    string? folderItemDMinute = null;
    if (!String.IsNullOrEmpty(Model.DMinuteID))
    {
        folderItemDMinute = System.IO.Path.Combine(folderPathDMinute, Model.DMinuteID.ToString());
    }
    List<string> imageFilesDMinute = new List<string>();
    string fileDMinuteNull = "Resource/Image/empty.png";
    if(folderItemDMinute != null)
    {
        imageFilesDMinute = Directory.GetFiles(folderItemDMinute).ToList();
    }

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- ICONS -->
    <script src="https://unpkg.com/@@phosphor-icons/web"></script>
    <!-- CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/2.ico" type="image/x-icon">


    <style>
        body {
            background: linear-gradient(106deg, rgba(44, 168, 221, 0.88) 1.91%, rgba(7, 119, 207, 0.88) 97.8%);
            margin: 0 auto
        }

        .btn {
            cursor: pointer;
            position: relative;
            padding: 10px 20px;
            font-size: 25px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            transition: all 1s;
            &:after,&:before

        {
            content: " ";
            width: 10px;
            height: 10px;
            position: absolute;
            border: 0px solid #fff;
            transition: all 1s;
        }

        &:after {
            top: -1px;
            left: -1px;
            border-top: 5px solid black;
            border-left: 5px solid black;
        }

        &:before {
            bottom: -1px;
            right: -1px;
            border-bottom: 5px solid black;
            border-right: 5px solid black;
        }

        &:hover {
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            // background:rgba(0,0,0,.5);
            // color:white;
            &:before,&:after

        {
            width: 100%;
            height: 100%;
            // border-color:white;
        }

        }
        }

        #nz-div-2 h3.tde :after {
            content: "";
            width: 0;
            height: 0;
            border-top: 19px solid transparent;
            border-left: 15px solid #EA3A3C;
            border-bottom: 19px solid transparent;
            border-right: 0 solid transparent;
            position: absolute;
            top: 0px;
            right: -15px;
        }

        #nz-div-2 h3.tde span {
            background: #EA3A3C;
            padding: 10px 20px 8px 20px;
            color: white;
            position: relative;
            display: inline-block;
            margin: 0;
        }

        #nz-div-2 h3.tde {
            margin: 15px 0;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
        }

        #nz-div-2 hr {
            margin: -34px 0px 54px 0px;
            border: 1px solid red;
        }

        .croll{
            max-height:700px;
            overflow-y:scroll;
        }
        .col-mb-5{
            min-height:700px;
        }

        .custom-file-upload {
            align-items: center;
            appearance: none;
            background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
            border: 0;
            border-radius: 6px;
            box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: inline-flex;
            height: 48px;
            justify-content: center;
            line-height: 1;
            list-style: none;
            overflow: hidden;
            padding-left: 16px;
            padding-right: 16px;
            position: relative;
            text-align: left;
            text-decoration: none;
            transition: box-shadow .15s,transform .15s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            will-change: box-shadow,transform;
            font-size: 18px;
            position: absolute;
            z-index:1;
        }

        .Save_btn i,
        .custom-file-upload i {
            margin-right: 10px;
        }

        .Save_btn:focus,
        .custom-file-upload:focus {
            box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        }

        .Save_btn:hover,
        .custom-file-upload:hover {
            box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
            transform: translateY(-2px);
        }

        .Save_btn:active,
        .custom-file-upload:active {
            box-shadow: #3c4fe0 0 3px 7px inset;
            transform: translateY(2px);
        }
    </style>
</head>
<body>
    <header style="background-color:#001529;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container-fluid">
                <div class="logo">
                    <img style="width:40px;" src="~/Resource/Image/LOGO_WITHOUT_BG/2.png" />
                    <a style="color:white; font-weight:bold;" class="navbar-brand" asp-area="" asp-page="/Index">TEACHSEAL</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
            <div class="col-mb-5">
                <div id='nz-div-2'>
                    <h3 class="tde">
                        <span>HỢP ĐỒNG DỊCH VỤ</span>
                    </h3>
                    <hr>
                </div>
                <div class="card ">
                    <button class="custom-file-upload col-1" data-bs-toggle="modal" data-bs-target="#ShowContract" style="width:30px; height:30px;">
                        <i class="ph-bold ph-frame-corners" style="font-size:30px; margin: auto;"></i>
                    </button>
                    <div class="croll">
                        <div id="myCarousel" class="carousel slide" style=" width:100%;height: 750px;">
                            <div class="carousel-inner">
                                <div class="carousel-item active ">
                                    <img src="~/Resource/Image/LOGO/1.png" alt="Hình ảnh" width="100%" />
                                </div>
                                @foreach (var imgPath in imageFilesDContract)
                                {
                                    <div class="carousel-item">
                                        <img src="@Url.Content("~/ContractImage/"+@Model.Id+ "/" + System.IO.Path.GetFileName(imgPath))" alt="Hình ảnh" width="100%" />
                                    </div>
                                }
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev" style="margin: auto;background-color: black;font-size: 100px;width: 50px;height: 100px;">
                                <span class="carousel-control-prev-icon" aria-hidden="true" style="width:20px; height:20px;"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button style="margin: auto;background-color: black;font-size: 100px; width: 50px;height: 100px;" class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true" style="width:20px; height:20px;"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
                <!--Show hợp đồng to-->
                <!-- Modal -->
                <div class="modal fade" id="ShowContract" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="myCarouselModal" class="carousel slide">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active ">
                                            <img src="~/Resource/Image/LOGO/1.png" alt="Hình ảnh" width="100%" />
                                        </div>
                                        @if (folderItemDMinute != null)
                                        {
                                            @foreach (var imgPath in imageFilesDMinute)
                                            {
                                                <div class="carousel-item" style="max-height: 800px;overflow-y: scroll;">
                                                    <img src="@Url.Content("~/MinuteImage/"+@Model.DMinuteID+ "/" + System.IO.Path.GetFileName(imgPath))" alt="Hình ảnh" width="100%" />
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="carousel-item" style="max-height: 800px;overflow-y: scroll;">
                                                <img src="~/@fileDMinuteNull" alt="Hình ảnh" width="100%" />
                                            </div>
                                        }
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarouselModal" data-bs-slide="prev" style="margin: auto;background-color: black;font-size: 100px;width: 50px;height: 100px;">
                                        <span class="carousel-control-prev-icon" aria-hidden="true" style="width:20px; height:20px;"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button style="margin: auto;background-color: black;font-size: 100px; width: 50px;height: 100px;" class="carousel-control-next" type="button" data-bs-target="#myCarouselModal" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true" style="width:20px; height:20px;"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-mb-5">
                <div id='nz-div-2'>
                    <h3 class="tde">
                        <span>BIÊN BẢN LẮP ĐẶT</span>
                    </h3>
                    <hr>
                </div>
                <div class="card ">
                    <button class="custom-file-upload col-1" data-bs-toggle="modal" data-bs-target="#ShowRecord" style="width:30px; height:30px;">
                        <i class="ph-bold ph-frame-corners" style="font-size:30px; margin: auto;"></i>
                    </button>
                    <div class="croll">
                        <div id="myCarouselReCord" class="carousel slide" style=" width:100%;height: 750px;">
                            <div class="carousel-inner">
                                <div class="carousel-item active ">
                                    <img src="~/Resource/Image/LOGO/1.png" alt="Hình ảnh" width="100%" />
                                </div>
                                @if (folderItemDMinute != null)
                                {
                                    @foreach (var imgPath in imageFilesDMinute)
                                    {
                                        <div class="carousel-item">
                                            <img src="@Url.Content("~/MinuteImage/"+@Model.DMinuteID+ "/" + System.IO.Path.GetFileName(imgPath))" alt="Hình ảnh" width="100%" />
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="carousel-item">
                                        <img src="~/@fileDMinuteNull" alt="Hình ảnh" width="100%" />
                                    </div>
                                }
                                <button class="carousel-control-prev" type="button" data-bs-target="#myCarouselReCord" data-bs-slide="prev" style="margin: auto;background-color: black;font-size: 100px;width: 50px;height: 100px;">
                                    <span class="carousel-control-prev-icon" aria-hidden="true" style="width:20px; height:20px;"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button style="margin: auto;background-color: black;font-size: 100px; width: 50px;height: 100px;" class="carousel-control-next" type="button" data-bs-target="#myCarouselReCord" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true" style="width:20px; height:20px;"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="ShowRecord" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div id="myCarouselModalRecord" class="carousel slide">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active ">
                                                <img src="~/Resource/Image/LOGO/1.png" alt="Hình ảnh" width="100%" />
                                            </div>
                                            @foreach (var imgPath in imageFilesDMinute)
                                            {
                                                <div class="carousel-item" style="max-height: 800px;overflow-y: scroll;">
                                                    <img src="@Url.Content("~/MinuteImage/"+@Model.DMinuteID+ "/" + System.IO.Path.GetFileName(imgPath))" alt="Hình ảnh" width="100%" />
                                                </div>
                                            }
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarouselModalRecord" data-bs-slide="prev" style="margin: auto;background-color: black;font-size: 100px;width: 50px;height: 100px;">
                                            <span class="carousel-control-prev-icon" aria-hidden="true" style="width:20px; height:20px;"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button style="margin: auto;background-color: black;font-size: 100px; width: 50px;height: 100px;" class="carousel-control-next" type="button" data-bs-target="#myCarouselModalRecord" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true" style="width:20px; height:20px;"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<!-- Thư viện Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>

<!-- Thư viện Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myCarousel').carousel({
            interval: false
        });
    });
    $(document).ready(function () {
        $('#myCarouselModal').carousel({
            interval: false
        });
    });
    $(document).ready(function () {
        $('#myCarouselReCord').carousel({
            interval: false
        });
    });
    $(document).ready(function () {
        $('#myCarouselModalRecord').carousel({
            interval: false
        });
    });
</script>
