@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}

    <div class="page-content">
        <div class="container-fluid" style="width: 100%; margin-top: 60px;">
            <div class="row">
                <div class="col-md-6">
                    <!-- Left Table -->

                </div>
                <div class="col-md-6"
                     style="margin-left: 300px ; display: flex; justify-content: center; align-items: center;">
                    <!-- Right Table -->
                    <div class="card" style="border-radius: 46px;">
                        <div class="card-body" style="height: 850px;">
                            <!-- Your left table content goes here -->
                            <div class="row m-b-30">
                                <div class="col-lg-8">
                                    <div class="col-md-6 offset-md-4">
                                    </div>
                                    <form class="Frame308"
                                          style="width: 549px; margin-left: 30px ; height: 467px; padding-bottom: 15px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
                                        <div class="Frame302"
                                             style="align-self: stretch; height: 79px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
                                            <div class="HVTNKhChHNg"
                                                 style="color: #888888; margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                                HỌ VÀ TÊN
                                            </div>
                                            <div class="Frame300"
                                                 style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                                <input class="form-control" placeholder="Trung đẹp trai" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; ">

                                                <div class="VuesaxLinearProfileTick"
                                                     style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                    <div class="ProfileTick"
                                                         style="width: 24px; height: 24px; position: relative">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="Frame304"
                                                     style="align-self: stretch; height: 79px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
                                                    <div class="HVTNKhChHNg"
                                                         style="color: #888888; margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                                        VAI TRÒ
                                                    </div>
                                                    <div class="Frame300"
                                                         style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                                        <input class="form-control" style=" text-align: center;color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; width: 250px;">
                                                           
                                                        <div class="VuesaxLinearProfileTick"
                                                             style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                            <div class="ProfileTick"
                                                                 style="width: 24px; height: 24px; position: relative">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="Frame304">
                                                    <div class="HVTNKhChHNg"
                                                         style="color: #888888; margin-bottom: 20px;margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                                        TÊN CHỨC DANH
                                                    </div>
                                                    <div class="Frame300"
                                                         style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                                        <input class="form-control" style=" text-align: center;color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; width: 170px;">
                                                           
                                                        <div class="VuesaxLinearProfileTick"
                                                             style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                            <div class="ProfileTick"
                                                                 style="width: 24px; height: 24px; position: relative">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="Frame303"
                                                     style="align-self: stretch; height: 79px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
                                                    <div class="HVTNKhChHNg"
                                                         style="color: #888888; margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                                        MÔ TẢ
                                                    </div>
                                                    <div class="Frame300"
                                                         style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                                        <input class="form-control" style="width: 250px;;color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED;">
                                                           
                                                        <div class="VuesaxLinearProfileTick"
                                                             style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                            <div class="ProfileTick"
                                                                 style="width: 24px; height: 24px; position: relative">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="Frame304">
                                                    <div class="HVTNKhChHNg"
                                                         style="color: #888888; margin-bottom: 10px;margin-left: 35px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                                        TRẠNG THÁI
                                                    </div>
                                                    <div class="Frame301"
                                                         style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
                                                        <div class="Frame301" style="width: 200px; margin-right: 100px; height:
                                                                    40px; padding-left: 12px; padding-right: 12px;
                                                                    padding-top: 8px; padding-bottom: 8px; background:
                                                                    rgba(199, 69, 40, 0.35); border-radius: 8px;
                                                                    justify-content: space-between; align-items: center;
                                                                    display: flex">
                                                            <label href="#" class="ChiTiT"
                                                                   style="color: rgb(200, 12, 12); margin-bottom: 6px; margin-left: 20px; ;font-size: 13px; font-family: Jost; font-weight: 700; word-wrap: break-word; background: none; border: none; cursor: pointer;">
                                                                KHÔNG ĐƯỢC PHÉP
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 50px; margin-left:4px">
                                                <div class="col-md-6">
                                                    <label for="inputDateStart" class="form-label" style="color: #888888;">Ngày cấp</label>
                                                    <input class="form-control" type="date" placeholder="abc@gmail.com" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; ">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="inputDateEnd" class="form-label" style="color: #888888;">Ngày hết hạn</label>
                                                    <input class="form-control" type="date" placeholder="abc@gmail.com" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; width:220px">
                                                </div>

                                            </div>

                                        </div>
                                        <div class="row" style="margin-bottom: 10px;margin-left:4px">
                                            <div class="form-group">
                                                <p class="HNgDNChiTiT"
                                                   style="width: 336px; height: 29px; color: #2B3674; font-size: 25px; font-family: Dongle; font-weight: 700; line-height: 32px; word-wrap: break-word">
                                                    Chức năng liên quan
                                                </p>
                                                <div class="form-group">

                                                    <textarea class="form-control" rows="5" cols="60" style=" background: #D9D9D9;" id="comment"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-left: 150px;">
                                            <div class="col-md-6 text-center">
                                                <a href="themvaitro.html" class="btn custom-button"
                                                   style="background-color: #2CA8DD; color: #F5F5F5; width: 200px;">
                                                    GÁN THÊM VAI TRÒ
                                                </a>

                                            </div>

                                        </div>
                                        <div class="row" style="margin-top:15px">
                                            <div class="col-md-6 d-flex justify-content-between">
                                                <div class="form-group">
                                                    <p href="#" class="text-muted font-italic font-weight-bold"
                                                       style="white-space: nowrap;">
                                                        Tài liệu liên quan
                                                    </p>

                                                    <label for="pdfLink"
                                                           class="text-primary font-italic font-weight-bold"><u>PHULUCHOPDONG.PDF</u></label>
                                                </div>
                                                <div class="form-group" style="margin-left: 280px;">
                                                    <p href="#" class="text-muted font-italic font-weight-bold"
                                                       style="white-space: nowrap;">
                                                        <i>
                                                            Liên hệ khẩn
                                                            cấp
                                                        </i>
                                                    </p>
                                                    <p class="text-right">

                                                        <a href="#" id="pdfLink"
                                                           class="text-primary font-italic font-weight-bold"><u>021312332332</u></a>
                                                    </p>
                                                </div>


                                            </div>
                                        </div>
                                    </form>
                                </div>


                            </div>





                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

