@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
<div class="container-fluid">
    <div style="margin: 10px;display: flex;align-items: end;justify-content: end;">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-around" style="margin-top: 20px;">
        <div class="col-md-5">
            <div class="box1">
                <form class="row g-3" style="width:500px; margin: 0 auto;">
                    <br />
                    <div class="col-md-6">
                        <label class="form-label" style="color: #525252; margin-left: 4px ;font-size: 18px;
                                                        font-family: Jost; font-weight: 700; word-wrap: break-word; margin-top:5px">Trạng thái tài khoản</label>
                    </div>
                    <div class="col-md-6" style="width: 200px; height: 40px; margin-left:10px ;background: #0fd44a; border-radius: 8px; justify-content: space-between; align-items: center; display: flex">

                        <label class="label_status" style="color: white; margin-bottom: 6px; margin-left: 37px; font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word; background: none; border: none; cursor: pointer;">
                            KÍCH HOẠT
                        </label>
                    </div>
                    <div class="col-12">
                        <label for="inputName" class="form-label" style="color: #888888;">Họ và tên</label>
                        <input class="form-control" type="text" placeholder="sdsdc" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED;">
                    </div>
                    <div class="col-12">
                        <label for="inputEmail" class="form-label" style="color: #888888;">Email</label>
                        <input class="form-control" type="email" placeholder="abc@gmail.com" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED;">
                    </div>
                    <div class="col-12">
                        <label for="inputCCCD" class="form-label" style="color: #888888;">CCCD/CMND</label>
                        <input class="form-control" type="number" placeholder="abc@gmail.com" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED;">
                    </div>
                    <div class="col-12">
                        <label for="inputCCCD" class="form-label" style="color: #888888;">CCCD/CMND</label>
                        <input class="form-control" type="number" placeholder="abc@gmail.com" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED;">
                    </div>
                    <div class="col-md-6">
                        <label for="inputDateStart" class="form-label" style="color: #888888;">Ngày cấp</label>
                        <input class="form-control" type="date" placeholder="abc@gmail.com" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED;">
                    </div>
                    <div class="col-md-6">
                        <label for="inputDateEnd" class="form-label" style="color: #888888;">Ngày hết hạn</label>
                        <input class="form-control" type="date" placeholder="abc@gmail.com" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED;">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-5">
            <div class="box2">
                <form class="row g-3" style="width:500px; margin: 0 auto;">
                    <div class="col-12">
                        <label for="inputTaxCode" class="form-label" style="color: #888888;">Mã thuế</label>
                        <input class="form-control" type="text" placeholder="abc@gmail.com" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED;">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label" style="color: #888888;">Địa chỉ thường trú</label>
                        <input class="form-control" type="text" placeholder="abc@gmail.com" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED;">
                    </div>
                    <div class="col-12">
                        <label for="inputPass" class="form-label" style="color: #888888;">Password</label>
                        <input class="form-control" type="text" placeholder="******" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED;">
                    </div>
                    <div class="col-md-6">
                        <label for="inputNational" class="form-label" style="color: #888888;">Vai trò</label>
                        <input class="form-control" type="text" placeholder="abc@gmail.com" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED;">

                    </div>
                    <div class="col-md-6">
                        <label for="inputGender" class="form-label" style="color: #888888;">Quyền truy cập</label>
                        <input class="form-control" type="text" placeholder="abc@gmail.com" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED;">
                    </div>
                    <div class="col-12">
                        <label for="inputSerri" class="form-label" style="color: #888888;">Số seri chứng chỉ</label>
                        <input class="form-control" type="text" placeholder="abc@gmail.com" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED;">
                    </div>
                    <div class="col-12">
                        <input type="checkbox" id="disable-checkbox" style="color: #888888;"> khách hàng doanh nghiệp
                        <div class="content row " style="margin-top:10px;">
                            <div class="col-md-5" style="margin:0 auto;">
                                <label for="inputNameBuss" class="form-label" style="color: #888888;">Tên doanh nghiệp</label>
                                <input class="form-control" type="text" placeholder="abc@gmail.com" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED;">
                            </div>
                            <div class="col-md-5" style="margin:0 auto;">
                                <label for="inputPosition" class="form-label" style="color: #888888;">Chức vụ</label>
                                <input class="form-control" type="text" placeholder="abc@gmail.com" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED;">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-around " style="margin-top:30px;">
                        <div class="col-md-5">
                            <button class="btn custom-color"
                                    style="background-color:#2CDDBD; color: #F5F5F5; width: 200px;">
                                LƯU THAY ĐỔI
                            </button>
                        </div>
                        <div class="col-md-5">
                            <button class="btn custom-color" style="background-color: #ed2819; color: #fff; width: 200px;">
                                VÔ HIỆU HÓA
                            </button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-6 d-flex justify-content-between">
                            <div class="form-group">
                                <p href="#" class="text-muted font-italic font-weight-bold"
                                   style="white-space: nowrap;">
                                    Tài liệu liên quan
                                </p>

                                <label for="pdfLink"
                                       class="text-primary font-italic font-weight-bold"><u>PHULUCHOPDONG.PDF</u></label>
                            </div>
                            <div class="form-group" style="margin-left: 240px;">
                                <p href="#" class="text-muted font-italic font-weight-bold"
                                   style="white-space: nowrap;">
                                    <i>
                                        Liên hệ khẩn
                                        cấp
                                    </i>
                                </p>
                                <p class="text-right">

                                    <a href="#" id="pdfLink"
                                       class="text-primary font-italic font-weight-bold"><u>021312332332</u></a>
                                </p>
                            </div>


                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
