@{
    Layout = "_AdminLayout";
}
<div class="container-fluid">
    <div style="margin: 10px;display: flex;align-items: end;justify-content: end;">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <div style="margin-top: 40px;">
        <form class="row justify-content-around" style=" margin: 0 auto;">
            <div class="col-md-5">
                <div class="box1 row justify-content-between g-3 " style="max-height: 800px;overflow-y: scroll; height: 500px; margin: 40px auto;">
                    <div class="col-md-6">
                        <label class="form-label">Id</label>
                        <input type="date" class="form-control" required>
                        <span class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Họ và tên</label>
                        <input class="form-control" id="inputName" placeholder="Họ và tên" required>
                        <span class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="inputDateStart" class="form-label">Email</label>
                        <input class="form-control" type="email" placeholder="abc123@gmail.com" required>
                        <span class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="inputName" class="form-label">Số điện thoại</label>
                        <input class="form-control" maxlength="12" required>
                        <span class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="inputDateStart" class="form-label">Chức vụ</label>
                        <input class="form-control" required>
                        <span class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mt-3">
                        <label class="mb-3 mr-1" for="Status">Trạng thái tài khoản: </label>
                        <div>
                            <input type="radio" class="btn-check " id="false" value="false" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-success text-light" id="false-label" for="false">Hoạt động</label>

                            <input type="radio" class="btn-check " id="true" value="true" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-danger text-light" id="true-label" for="true">Khoá</label>
                        </div>
                    </div>
                    <div class="col-md-5" style="margin:auto;">
                        <button class="add_cus" type="submit">
                            Cập nhật thông tin
                        </button>
                    </div>
                    <div class="col-md-5" style="margin:auto;">
                        <button class="addmore" data-bs-toggle="modal" data-bs-target="#listPosition">
                            Gán thêm chức vụ
                        </button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="listPosition" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="checkbox" id="item1" name="items" value="item1">
                                    <label for="item1">Nhân viên</label><br>

                                    <input type="checkbox" id="item2" name="items" value="item2">
                                    <label for="item2">Khách hàng</label><br>

                                    <input type="checkbox" id="item3" name="items" value="item3">
                                    <label for="item3">Giám đốc</label><br>
                                </div>
                                <div class="modal-footer">
                                    
                                    <div class="col-md-5" style="margin:auto;">
                                        <button class="add_cus" type="submit" data-bs-dismiss="modal">
                                          Thêm
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @**@
        </form>

    </div>
</div>