@{
    Layout = "_AdminLayout";
}
<link rel="shortcut icon" href="~/assets/images/favicon.ico">

<!-- Bootstrap Css -->
<link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

<link href="~/assets2/css/app.min.css" rel="stylesheet">

    <div class="page-content">
        <div class="container-fluid" style="margin-top: 60px; width:1200px;margin-right:430px">
            <div class="row">
                <div class="col-md-6">
                    <!-- Left Table -->
                    <div class="card" style="border-radius: 46px;">
                        <div class="card-body" style="height: 870px;">
                            <!-- Your left table content goes here -->
                            <div class="row m-b-30">
                                <div class="col-lg-8">

                                    <form class="Frame308"
                                          style="width: 549px; margin-left: 30px ; height: 467px; padding-bottom: 15px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
                                        <div class="Frame302"
                                             style="align-self: stretch; height: 79px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
                                            <div class="HVTNKhChHNg"
                                                 style="color: #888888; margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                                HỌ VÀ TÊN
                                            </div>
                                            <div class="Frame300"
                                                 style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                                <input class="form-control" placeholder="Trung đẹp trai" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; ">

                                                <div class="VuesaxLinearProfileTick"
                                                     style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                    <div class="ProfileTick"
                                                         style="width: 24px; height: 24px; position: relative">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="Frame304"
                                                     style="align-self: stretch; height: 79px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
                                                    <div class="HVTNKhChHNg"
                                                         style="color: #888888; margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                                        VAI TRÒ
                                                    </div>
                                                    <div class="Frame300"
                                                         style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                                        <input class="form-control" style=" text-align: center;color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; width: 250px;">

                                                        <div class="VuesaxLinearProfileTick"
                                                             style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                            <div class="ProfileTick"
                                                                 style="width: 24px; height: 24px; position: relative">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="Frame304">
                                                    <div class="HVTNKhChHNg"
                                                         style="color: #888888; margin-bottom: 20px;margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                                        TÊN CHỨC DANH
                                                    </div>
                                                    <div class="Frame300"
                                                         style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                                        <input class="form-control" style=" text-align: center;color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; width: 170px;">

                                                        <div class="VuesaxLinearProfileTick"
                                                             style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                            <div class="ProfileTick"
                                                                 style="width: 24px; height: 24px; position: relative">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="Frame303"
                                                     style="align-self: stretch; height: 79px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
                                                    <div class="HVTNKhChHNg"
                                                         style="color: #888888; margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                                        MÔ TẢ
                                                    </div>

                                                    <div class="Frame300"
                                                         style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                                        <input class="form-control" style="width: 250px;;color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED;">

                                                        <div class="VuesaxLinearProfileTick"
                                                             style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                            <div class="ProfileTick"
                                                                 style="width: 24px; height: 24px; position: relative">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="Frame304">
                                                    <div class="HVTNKhChHNg"
                                                         style="color: #888888; margin-bottom: 10px;margin-left: 35px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                                        TRẠNG THÁI
                                                    </div>
                                                    <div class="Frame301"
                                                         style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
                                                        <div class="Frame301" style="width: 200px; margin-right: 100px; height:
                                                                    40px; padding-left: 12px; padding-right: 12px;
                                                                    padding-top: 8px; padding-bottom: 8px; background:
                                                                    rgba(199, 69, 40, 0.35); border-radius: 8px;
                                                                    justify-content: space-between; align-items: center;
                                                                    display: flex">
                                                            <a href="#" class="ChiTiT"
                                                               style="color: rgb(200, 12, 12); margin-bottom: 6px; margin-left: 20px; ;font-size: 13px; font-family: Jost; font-weight: 700; word-wrap: break-word; background: none; border: none; cursor: pointer;">
                                                                KHÔNG ĐƯỢC PHÉP
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 50px; margin-left:8px">
                                                <div class="col-md-6">
                                                    <label for="inputDateStart" class="form-label" style="color: #888888;">Ngày cấp</label>
                                                    <input class="form-control" type="date" placeholder="abc@gmail.com" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; ">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="inputDateEnd" class="form-label" style="color: #888888;">Ngày hết hạn</label>
                                                    <input class="form-control" type="date" placeholder="abc@gmail.com" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; width:180px">
                                                </div>

                                            </div>

                                        </div>
                                        <div class="row" style="margin-bottom: 10px; margin-left:8px">
                                            <div class="form-group">
                                                <p class="HNgDNChiTiT"
                                                   style="width: 336px; height: 29px; color: #2B3674; font-size: 25px; font-family: Dongle; font-weight: 700; line-height: 32px; word-wrap: break-word">
                                                    Chức năng liên quan
                                                </p>
                                                <div class="form-group">

                                                    <textarea class="form-control" rows="5" cols="60" style=" background: #D9D9D9;" id="comment"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-left: 150px;">
                                            <div class="col-md-6 text-center">
                                                <a href="themchucdanh.html" class="btn custom-button"
                                                   style="background-color: #2CA8DD; color: #F5F5F5; width: 200px;">
                                                    GÁN THÊM CHỨC DANH
                                                </a>

                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 d-flex justify-content-between">
                                                <div class="form-group">
                                                    <p href="#" class="text-muted font-italic font-weight-bold"
                                                       style="white-space: nowrap;">
                                                        Tài liệu liên quan
                                                    </p>

                                                    <label for="pdfLink"
                                                           class="text-primary font-italic font-weight-bold"><u>PHULUCHOPDONG.PDF</u></label>
                                                </div>
                                                <div class="form-group" style="margin-left: 200px;">
                                                    <p href="#" class="text-muted font-italic font-weight-bold"
                                                       style="white-space: nowrap;">
                                                        <i>
                                                            Liên hệ khẩn
                                                            cấp
                                                        </i>
                                                    </p>
                                                    <p class="text-right">

                                                        <a href="#" id="pdfLink"
                                                           class="text-primary font-italic font-weight-bold"><u>021312332332</u></a>
                                                    </p>
                                                </div>


                                            </div>
                                        </div>
                                    </form>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Right Table -->
                    <div class="card" style="border-radius: 8px; margin-top: 180px;">
                        <div class="card-body" style="height: 600px; ">
                            <!-- Your left table content goes here -->
                            <div class="BiNBNgLPT" style="color: #2B3674; margin-left: 4px ;font-size: 26px;
                                                        font-family: Jost; font-weight: 700; word-wrap: break-word">
                                Chọn danh sách chức danh muốn thêm
                            </div>
                            <br>
                            <br>
                            <div class="BiNBNgLPT" style="color: #525252; margin-left: 4px ;font-size: 18px;
                                                        font-family: Jost; font-weight: 700; word-wrap: break-word">
                                Danh sách
                            </div>
                            <br>
                            <div class="row" style="width: 1500px;">
                                <div class="col-4 custom-scroll"
                                     style="border: 2px solid #ccc; background-color: #EDEDED; width: 561px; height: 311px; overflow-y: scroll ; border-radius: 20px; padding: 10px;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkbox1">
                                        <label class="form-check-label" for="checkbox1"
                                               style="font-size: 20px;">Admin</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkbox2">
                                        <label class="form-check-label" for="checkbox2"
                                               style="font-size: 20px;">Nhân viên</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkbox3">
                                        <label class="form-check-label" for="checkbox3"
                                               style="font-size: 20px;">Quản lý</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkbox4">
                                        <label class="form-check-label" for="checkbox4"
                                               style="font-size: 20px;">Nhân viên kỹ thuật</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkbox5">
                                        <label class="form-check-label" for="checkbox5"
                                               style="font-size: 20px;">Nhân viên ký duyệt</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkbox5">
                                        <label class="form-check-label" for="checkbox5"
                                               style="font-size: 20px;">Nhân viên ký duyệt</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkbox5">
                                        <label class="form-check-label" for="checkbox5"
                                               style="font-size: 20px;">Nhân viên ký duyệt</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkbox5">
                                        <label class="form-check-label" for="checkbox5"
                                               style="font-size: 20px;">Nhân viên ký duyệt</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkbox5">
                                        <label class="form-check-label" for="checkbox5"
                                               style="font-size: 20px;">Nhân viên ký duyệt</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkbox5">
                                        <label class="form-check-label" for="checkbox5"
                                               style="font-size: 20px;">Nhân viên ký duyệt</label>
                                    </div>
                                </div>
                                <div class="row" style="margin-left: 10px; margin-top: 50px;">
                                    <div class="col-md-6 text-center">
                                        <button class="btn custom-color" style="background-color:#2CDDBD; color: #F5F5F5; width:
                                                            200px;">
                                            LƯU THAY ĐỔI
                                        </button>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>

<script src="~/assets/js/app.js"></script>
<script src="~/assets2/js/vendors.min.js"></script>

<!-- page js -->
<!-- Core JS -->
<script src="~/assets2/js/app.min.js"></script>