@{
    Layout = "_AdminLayout";
}
<link rel="shortcut icon" href="~/assets/images/favicon.ico">

<!-- Bootstrap Css -->
<link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

<link href="~/assets2/css/app.min.css" rel="stylesheet">



<div class="page-content">
    <div class="container-fluid" style="margin-top: 60px; width:1200px;margin-right:430px">
        <div class="row">
            <div class="col-md-6">
                <!-- Left Table -->
                <div class="card" style="border-radius: 46px;">
                    <div class="card-body" style="height: 850px;">
                        <!-- Your left table content goes here -->
                        <div class="row m-b-30">
                            <div class="col-lg-8">
                                <div class="col-md-6 offset-md-4">
                                </div>
                                <form class="Frame308"
                                      style="width: 549px; margin-left: 30px ; height: 467px; padding-bottom: 15px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
                                    <div class="Frame302"
                                         style="align-self: stretch; height: 79px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
                                        <div class="HVTNKhChHNg"
                                             style="color: #888888; margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                            ID
                                        </div>
                                        <div class="Frame300"
                                             style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                            <input class="form-control" disabled type="number" placeholder="PS22592" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; ">

                                            <div class="VuesaxLinearProfileTick"
                                                 style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                <div class="ProfileTick"
                                                     style="width: 24px; height: 24px; position: relative">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Frame302"
                                         style="align-self: stretch; height: 79px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
                                        <div class="HVTNKhChHNg"
                                             style="color: #888888; margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                            EMAIL
                                        </div>
                                        <div class="Frame300"
                                             style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                            <input class="form-control" type="email" placeholder="abc@gmail.com" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; ">

                                            <div class="VuesaxLinearProfileTick"
                                                 style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                <div class="ProfileTick"
                                                     style="width: 24px; height: 24px; position: relative">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="Frame302"
                                         style="align-self: stretch; height: 79px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
                                        <div class="HVTNKhChHNg"
                                             style="color: #888888; margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                            HỌ VÀ TÊN
                                        </div>
                                        <div class="Frame300"
                                             style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                            <input class="form-control" type="text" placeholder="Trung đẹp trai" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; ">

                                            <div class="VuesaxLinearProfileTick"
                                                 style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                <div class="ProfileTick"
                                                     style="width: 24px; height: 24px; position: relative">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Frame302"
                                         style="align-self: stretch; height: 79px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
                                        <div class="HVTNKhChHNg"
                                             style="color: #888888; margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                            SỐ ĐIỆN THOẠI
                                        </div>
                                        <div class="Frame300"
                                             style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                            <input class="form-control" type="number" placeholder="0238xxxx" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; ">

                                            <div class="VuesaxLinearProfileTick"
                                                 style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                <div class="ProfileTick"
                                                     style="width: 24px; height: 24px; position: relative">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Frame302"
                                         style="align-self: stretch; height: 79px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
                                        <div class="HVTNKhChHNg"
                                             style="color: #888888; margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                            VAI TRÒ
                                        </div>
                                        <div class="Frame300"
                                             style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                            <input class="form-control" type="text" placeholder="Admin" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; ">

                                            <div class="VuesaxLinearProfileTick"
                                                 style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                <div class="ProfileTick"
                                                     style="width: 24px; height: 24px; position: relative">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Frame302"
                                         style="align-self: stretch; height: 79px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
                                        <div class="HVTNKhChHNg"
                                             style="color: #888888; margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                            NGÀY TẠO TÀI KHOẢN
                                        </div>
                                        <div class="Frame300"
                                             style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                            <input class="form-control" type="date" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; ">

                                            <div class="VuesaxLinearProfileTick"
                                                 style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                <div class="ProfileTick"
                                                     style="width: 24px; height: 24px; position: relative">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Frame304">
                                        <div class="HVTNKhChHNg"
                                             style="color: #888888; margin-bottom: 10px;margin-left: 185px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                            TRẠNG THÁI
                                        </div>
                                        <div class="Frame301"
                                             style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
                                            <div class="Frame301" style="width: 200px; margin-left: 145px; height:
                                                                    40px; padding-left: 12px; padding-right: 12px;
                                                                    padding-top: 8px; padding-bottom: 8px; background:
                                                                    rgba(199, 69, 40, 0.35); border-radius: 8px;
                                                                    justify-content: space-between; align-items: center;
                                                                    display: flex">
                                                <label href="#" class="ChiTiT"
                                                       style="color: rgb(200, 12, 12); margin-bottom: 6px; margin-left: 20px; ;font-size: 13px; font-family: Jost; font-weight: 700; word-wrap: break-word; background: none; border: none; cursor: pointer;">
                                                    KHÔNG ĐƯỢC PHÉP
                                                </label>
                                            </div>
                                        </div>

                                    </div>





                                    <div class="row" style="margin-left: 130px; margin-top:30px">
                                        <div class="col-md-6 text-center">
                                            <a href="themvaitro.html" class="btn custom-button"
                                               style="background-color: #2CA8DD; color: #F5F5F5; width: 200px;">
                                                LƯU THAY ĐỔI
                                            </a>

                                        </div>

                                    </div>
                                    
                                </form>
                            </div>


                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>
</div>



<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>

<script src="~/assets/js/app.js"></script>
<script src="~/assets2/js/vendors.min.js"></script>

<!-- page js -->
<!-- Core JS -->
<script src="~/assets2/js/app.min.js"></script>