@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMListTOS
@{
    Layout = "_AdminLayout";
}
<div class="container-fluid">
    <div style="margin: 10px;display: flex;align-items: end;justify-content: end;">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <div style="margin-top: 140px;">
        <form class="row justify-content-around" style=" margin: 0 auto;" method="post" asp-action="UpdateTOSAction" asp-controller="Admin">
            <div class="col-md-5">
                <div class="box1 row justify-content-between g-3 " style=" max-height: 800px;overflow-y: scroll; height:500px;">
                    <div class="col-md-6">
                        <label class="form-label">ID</label>
                        <input class="form-control" id="inputName" placeholder="Id" readonly asp-for="PutTOS.TOS_ID">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Tên loại dịch vụ</label>
                        <input class="form-control" id="inputName" asp-for="PutTOS.ServiceName" required>
                        <span class="text-danger" asp-validation-for="PutTOS.ServiceName"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="inputName" class="form-label">Giá</label>
                        <input class="form-control" type="number" step="0.5" asp-for="PutTOS.Price" required>
                        <span class="text-danger" asp-validation-for="PutTOS.Price"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Đơn vị thời gian</label>
                        <input class="form-control" id="inputName" asp-for="PutTOS.PerTime" required>
                        <span class="text-danger" asp-validation-for="PutTOS.PerTime"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="inputGender" class="form-label">Hợp đồng mẫu</label>
                        <select style="background-color: #F3F3F3;" required class="form-control" asp-for="PutTOS.TContractID">
                            <option value="" disabled selected>...chọn mẫu hợp đồng</option>
                            @foreach (var c in Model.TemplateContracts)
                            {
                                <option value="@c.TContactID">@c.TContractName</option>
                            }
                        </select>
                        <span class="text-danger" asp-validation-for="PutTOS.TContractID"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="inputGender" class="form-label">Biên bản lắp đặt mẫu</label>
                        <select style="background-color: #F3F3F3;" required class="form-control" asp-for="PutTOS.TMinuteID">
                            <option value="" disabled selected>...chọn mẫu biên bản lắp đặt</option>
                            @foreach (var m in Model.TemplateMinutes)
                            {
                                <option value="@m.TMinuteID">@m.TMinuteName</option>
                            }
                        </select>
                        <span class="text-danger" asp-validation-for="PutTOS.TMinuteID"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="mb-3 mr-1" for="Status" asp-for="PutTOS.isHidden">Trạng thái: </label>
                        <div>
                            <input type="radio" class="btn-check " id="false" asp-for="PutTOS.isHidden" value="false" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-success text-light" id="false-label" for="false">Hiển thị</label>

                            <input type="radio" class="btn-check " id="true" asp-for="PutTOS.isHidden" value="true" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-danger text-light" id="true-label" for="true">Ẩn</label>
                        </div>
                    </div>
                    <div class="col-md-7" style="margin:auto; padding: 20px 0;">
                        <button class="add_cus" type="submit">
                            LƯU THAY ĐỔI
                        </button>
                    </div>
                </div>
            </div>
            @**@
        </form>

    </div>
</div>