@model QuanLyHopDongVaKySo_API.Models.Role

@{
    Layout = "_AdminLayout";
}
<div class="container-fluid">
    <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                <li class="breadcrumb-item"><a>Quản lý vai trò</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Danh sách vai trò</li>
            </ol>
        </nav>
        <h1 class="typeHead">CHỈNH SỬA VAI TRÒ</h1>
    </div>
    </div>
    <div style="margin-top: 40px;">
        <form class="row justify-content-around" style=" margin: 0 auto;" asp-action="UpdateRole" asp-controller="Admin">
            <div class="col-md-5">
                <div class="box1 row justify-content-between g-3 " style="max-height: 800px;overflow-y: scroll; height: 300px; margin: 40px auto;">
                    <div class="col-md-12">
                        <label class="form-label" asp-for="RoleID">Id</label>
                        <input class="form-control" readonly asp-for="RoleID">
                        <span class="text-danger" asp-validation-for="RoleID"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="RoleName">Tên vai trò</label>
                        <input class="form-control" id="inputName" asp-for="RoleName" required>
                        <span class="text-danger" asp-validation-for="RoleName"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="mb-3 mr-1" for="Status" asp-for="isHidden">Trạng thái: </label>
                        <div>
                            <input type="radio" class="btn-check " id="false" asp-for="isHidden" value="false" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-success text-light" id="false-label" for="false">Hiển thị</label>

                            <input type="radio" class="btn-check " id="true" asp-for="isHidden" value="true" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-danger text-light" id="true-label" for="true">Ẩn</label>
                        </div>
                    </div>
                    <div class="col-md-6" style="margin:auto;">
                        <button class="add_cus" type="submit">
                            Cập nhật
                        @if (TempData["SwalMessageType"] != null)
                        {
                            <script>
                                const Toast = Swal.mixin({
                                    toast: true,
                                    position: "bottom-end",
                                    showConfirmButton: false,
                                    timer: 3000,
                                    timerProgressBar: true,
                                    didOpen: (toast) => {
                                        toast.onmouseenter = Swal.stopTimer;
                                        toast.onmouseleave = Swal.resumeTimer;
                                    }
                                });
                                Toast.fire({
                                    icon: '@TempData["SwalMessageIcon"]',
                                    title: '@TempData["SwalMessageTitle"]'
                                });

                            </script>
                        }
                        </button>
                    </div>
                </div>
            </div>
            @**@
        </form>
    </div>

<script>
    // Hàm hiển thị message
    function showSuccessMessage() {
        $("#msg_success_filled").ej2Message.show();
        // Ẩn message sau một khoảng thời gian, ví dụ sau 5 giây
        setTimeout(function () {
            $("#msg_success_filled").ej2Message.hide();
        }, 5000);
    }
</script>