
@{
    Layout = "_AdminLayout";
}
<link rel="shortcut icon" href="~/assets/images/favicon.ico">

<!-- Bootstrap Css -->
<link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

<link href="~/assets2/css/app.min.css" rel="stylesheet">

<div class="main-content">
    <div class="page-content">
        <div class="page-header no-gutters has-tab">
            <div class="d-md-flex m-b-15 align-items-center justify-content-between">
                <div class="media align-items-center m-b-15">
                    <div class="m-l-15">
                        <h4 class="m-b-0"
                            style="width: 512px; height: 52px; color: #2B3674; font-size: 34px; font-family: DM Sans; font-weight: 700; line-height: 42px; word-wrap: break-word">
                            Danh sách nhân viên ủy quyền
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <br>
            <br>
            <div class="card" style="border-radius: 46px;">
                <div class="card-body">
                    <div class="row m-b-30">
                        <div class="col-lg-8">
                            <div class="d-md-flex">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover e-commerce-table">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="checkbox">
                                            <input id="checkAll" type="checkbox">
                                            <label for="checkAll" class="m-b-0"></label>
                                        </div>
                                    </th>
                                    <th>ID</th>
                                    <th>EMAIL</th>
                                    <th>NGÀY CẤP QUYỀN</th>
                                    <th>HỌ VÀ TÊN</th>
                                    <th>TRẠNG THÁI TÀI KHOẢN</th>
                                    <th>VAI TRÒ</th>
                                    <th>HOẠT ĐỘNG</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <input id="check-item-1" type="checkbox">
                                            <label for="check-item-1" class="m-b-0"></label>
                                        </div>
                                    </td>
                                    <td>
                                        #5331
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">

                                            <h6 class="m-b-0">sds@gmail.com</h6>
                                        </div>
                                    </td>
                                    <td>18/10/2023</td>
                                    <td>abc</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-danger badge-dot m-r-10"></div>
                                            <div>Khóa</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">

                                            <h6 class="m-b-0">Quản lý chữ ký</h6>
                                        </div>
                                    </td>

                                    <td class="text-left">
                                        <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                            <i class="anticon anticon-edit"></i>
                                        </button>
                                        <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                            <i class="anticon anticon-delete"></i>
                                        </button>
                                    </td>
                                    <td>Ủy quyền</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> <!-- container-fluid -->
    </div>

    <!-- End Page-content -->
</div>

<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>

<script src="~/assets/js/app.js"></script>
<script src="~/assets2/js/vendors.min.js"></script>

<!-- page js -->
<!-- Core JS -->
<script src="~/assets2/js/app.min.js"></script>