@{
    Layout = "_AdminLayout";
}
<link rel="shortcut icon" href="~/assets/images/favicon.ico">

<!-- Bootstrap Css -->
<link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

<link href="~/assets2/css/app.min.css" rel="stylesheet">


<div class="page-content">
    <div class="container-fluid">
        <div style="margin: 10px;display: flex;align-items: end;justify-content: end;">
            <div class="SearchBox">
                <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                    <li>
                        <div class="Search">
                            <i class="ph-bold ph-magnifying-glass"></i>
                            <input type="text" placeholder="Search.." />
                        </div>
                    </li>
                    <li>
                        <a>
                            <i class="ph-bold ph-bell"></i>
                        </a>

                    </li>
                    <li>
                        <a>
                            <i class="ph-bold ph-moon"></i>
                        </a>
                    </li>
                    <li>
                        <div class="avatar avatar-md"><img class="avatar-img" src="~/Resource/Image/Avatar.jpg" alt="user@email.com"></div>
                    </li>
                </ul>
            </div>
        </div>
       
        <div class="card" style="border-radius: 46px;">
            <div class="card-body">
                <div class="row m-b-30">
                    <div class="col-lg-8">
                        <div class="d-md-flex">
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover e-commerce-table">
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th>ID</th>
                                <th>EMAIL</th>
                                <th>SỐ ĐIỆN THOẠI</th>
                                <th>ĐỊA CHỈ</th>
                                <th>HỌ VÀ TÊN</th>
                                <th>DỊCH VỤ ĐÃ ĐĂNG KÝ</th>
                                <th>HOẠT ĐỘNG</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <input id="check-item-1" type="checkbox">
                                        <label for="check-item-1" class="m-b-0"></label>
                                    </div>
                                </td>
                                <td>
                                    #5331
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">

                                        <h6 class="m-b-0">sds@gmail.com</h6>
                                    </div>
                                </td>
                                <td>09823xxxx</td>
                                <td>Long Thành</td>
                                <td>abc</td>
                                <td>Lắp đặt Wifi</td>

                                <td class="text-left">
                                    <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                        <i class="anticon anticon-edit"></i>
                                    </button>
                                    <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                        <i class="anticon anticon-delete"></i>
                                    </button>
                                </td>
                                <td href="#">CHI TIẾT</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- container-fluid -->
</div>

<!-- End Page-content -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>

<script src="~/assets/js/app.js"></script>
<script src="~/assets2/js/vendors.min.js"></script>

<!-- page js -->
<!-- Core JS -->
<script src="~/assets2/js/app.min.js"></script>