@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
<div class="container-fluid">
    <div style="margin: 10px;display: flex;align-items: end;justify-content: end;">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-container">
        <div class="tab-button active" onclick="showTab('tab1')">Danh sách người dùng</div>
        <div class="tab-button" onclick="showTab('tab2')">Danh sách vai trò</div>
    </div>
    <div class="tab-content active" id="tab1">
        <div class="listTable">
            <table class="table">
                <thead>
                    <tr style="color: #8B909A;">
                        <th></th>
                        <th scope="col">ID</th>
                        <th scope="col">HỌ VÀ TÊN</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">SỐ ĐIỆN THOẠI</th>
                        <th scope="col">VAI TRÒ</th>
                        <th scope="col">TRẠNG THÁI</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <td>
                            <div class="row action">
                                <a><i class="ph-bold ph-note-pencil"></i></a>
                                <a><i class="ph-bold ph-trash"></i></a>

                            </div>
                        </td>
                        <th scope="row">1</th>
                        <td>abc</td>
                        <td>abc@gmail.com</td>
                        <td>3233222</td>
                        <td>abc</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div style="width: 5px; height: 5px; background-color: #00C9A7; border-radius: 50%; margin-right: 10px;"></div>
                                <div>Bình thường</div>
                            </div>
                        </td>
                        <td>
                            <a>Chi tiết</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-content" id="tab2">
        <div class="listTable" style="width:50%; height:300px;" >
            <table class="table">
                <thead>
                    <tr style="color: #8B909A;">
                        <th></th>
                        <th scope="col">ID</th>
                        <th scope="col">VAI TRÒ</th>
                        <th scope="col">TRẠNG THÁI</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <td>
                            <div class="row action">
                                <a><i class="ph-bold ph-note-pencil"></i></a>
                                <a><i class="ph-bold ph-trash"></i></a>

                            </div>
                        </td>
                        <th scope="row">1</th>
                        <td>NVKD</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div style="width: 5px; height: 5px; background-color: red; border-radius: 50%; margin-right: 10px;"></div>
                                <div>Khóa</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn-addRole" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            THÊM VAI TRÒ
        </button>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Thêm vai trò mới</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row justify-content-around" style=" margin: 0 auto;">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label for="inputName" class="form-label">Vai trò</label>
                                    <input class="form-control"  required>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 mt-3">
                                <label class="mb-3 mr-1" for="Status">Trạng thái tài khoản: </label>
                                <div>
                                    <input type="radio" class="btn-check " id="false" value="false" autocomplete="off" required>
                                    <label class="btn btn-sm btn-outline-success text-light" id="false-label" for="false">Hoạt động</label>

                                    <input type="radio" class="btn-check " id="true" value="true" autocomplete="off" required>
                                    <label class="btn btn-sm btn-outline-danger text-light" id="true-label" for="true">Khoá</label>
                                </div>
                            </div>
                            <div class="col-md-5" style="margin:auto;">
                                <button class="btn-addRole" type="submit" style="width: 100%;">
                                    THÊM
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function showTab(tabId) {
        // Ẩn tất cả các nội dung tab
        var tabContents = document.querySelectorAll('.tab-content');
        tabContents.forEach(function (content) {
            content.classList.remove('active');
        });

        // Ẩn tất cả các tab-button
        var tabButtons = document.querySelectorAll('.tab-button');
        tabButtons.forEach(function (button) {
            button.classList.remove('active');
        });

        // Hiển thị nội dung của tab được chọn và làm cho tab-button trở nên active
        var selectedTab = document.getElementById(tabId);
        selectedTab.classList.add('active');

        var selectedButton = document.querySelector('[onclick="showTab(\'' + tabId + '\')"]');
        selectedButton.classList.add('active');
    }
</script>