@{
    Layout = "_AdminLayout";
}

<div class="container-fluid">
    <div style="margin: 10px;display: flex;align-items: end;justify-content: end;">
        <div class="SearchBox">
            <ul class="horizontal-list" style="list-style: none; display:flex; padding: 0.5rem;">
                <li>
                    <div class="Search">
                        <i class="ph-bold ph-magnifying-glass"></i>
                        <input type="text" placeholder="Search.." />
                    </div>
                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-bell"></i>
                    </a>

                </li>
                <li>
                    <a>
                        <i class="ph-bold ph-moon"></i>
                    </a>
                </li>
                <li>
                    <img src="o.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-container">
        <div class="tab-button active" onclick="showTab('tab1')">Danh sách chứng ký số</div>
        <div class="tab-button" onclick="showTab('tab2')">Danh sách chứng chỉ số sắp hết hạn</div>
        <div class="tab-button" onclick="showTab('tab3')">Danh sách chứng chỉ số đã hết hạn</div>

    </div>
    <div class="tab-content active" id="tab1">
        <div class="listTable">
            <table class="table">
                <thead>
                    <tr style="color: #8B909A;">
                        <th scope="col">Số Seri chứng chỉ </th>
                        <th scope="col">Người sỡ hữu</th>
                        <th scope="col">Mật khẩu</th>
                        <th scope="col">File PFX</th>
                        <th scope="col">Tổ chức cung cấp</th>
                        <th scope="col">Giá trị bấm của chứng chỉ</th>
                        <th scope="col">Khóa công khai</th>
                        <th scope="col">Ngày hiệu lực</th>
                        <th scope="col">Ngày hết hạn</th>
                        <th scope="col">Is nhân viên</th>
                        <th scope="col">Ảnh chữ ký 1</th>
                        <th scope="col">Ảnh chữ ký 2</th>
                        <th scope="col">Ảnh chữ ký 3</th>
                        <th scope="col">Ảnh chữ ký 4</th>
                        <th scope="col">Ảnh chữ ký 5</th>
                        <th scope="col">Hành động</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">

                   
                        <tr>

                            <td>PS22582</td>
                            <td>Trung</td>
                            <td>abc</td>
                            <td>ks.pfx</td>
                            <td>FPT</td>
                            <td>??</td>
                            <td>Public</td>
                            <td>07/11/2023</td>
                            <td>11/11/2023</td>
                            <td>
                            <div class="d-flex align-items-center">
                                <div style="width: 5px; height: 5px; background-color: red; border-radius: 50%; margin-right: 10px;"></div>
                                <span>Không</span>
                            </div>
                            </td>
                            <td>s.jpg</td>
                            <td>s.jpg</td>
                            <td>s.jpg</td>
                            <td>s.jpg</td>
                            <td>s.jpg</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <span>Chi tiết</span>
                                <span>Gia hạn</span>
                            </div>
                        </td>
                                
                           
                        </tr>
                    

                </tbody>
            </table>
        </div>
        <a style="width:300px; display:flex; align-items:center; justify-content:center;" class="add_cus m-4" asp-action="" asp-controller="Admin">Thêm chứng chỉ số <i class="ph-bold ph-user-plus" style="font-size:20px; padding-left:10px;"></i> </a>
    </div><div class="tab-content active" id="tab2">
        <div class="listTable">
            <table class="table">
                <thead>
                    <tr style="color: #8B909A;">
                        <th scope="col">Số Seri chứng chỉ </th>
                        <th scope="col">Người sỡ hữu</th>
                        <th scope="col">Mật khẩu</th>
                        <th scope="col">File PFX</th>
                        <th scope="col">Tổ chức cung cấp</th>
                        <th scope="col">Giá trị bấm của chứng chỉ</th>
                        <th scope="col">Khóa công khai</th>
                        <th scope="col">Ngày hiệu lực</th>
                        <th scope="col">Ngày hết hạn</th>
                        <th scope="col">Is nhân viên</th>
                        <th scope="col">Ảnh chữ ký 1</th>
                        <th scope="col">Ảnh chữ ký 2</th>
                        <th scope="col">Ảnh chữ ký 3</th>
                        <th scope="col">Ảnh chữ ký 4</th>
                        <th scope="col">Ảnh chữ ký 5</th>
                        <th scope="col">Hành động</th>

                    </tr>
                </thead>
                <tbody class="table-group-divider">


                    <tr>

                        <td>PS22582</td>
                        <td>Trung</td>
                        <td>abc</td>
                        <td>ks.pfx</td>
                        <td>FPT</td>
                        <td>??</td>
                        <td>Public</td>
                        <td>07/11/2023</td>
                        <td>11/11/2023</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div style="width: 5px; height: 5px; background-color: red; border-radius: 50%; margin-right: 10px;"></div>
                                <span>Không</span>
                            </div>
                        </td>
                        <td>s.jpg</td>
                        <td>s.jpg</td>
                        <td>s.jpg</td>
                        <td>s.jpg</td>
                        <td>s.jpg</td>
                        <td>
                            <div class="d-flex align-items-center"> 
                                <span>Chi tiết</span>
                                <span>Gia hạn</span>
                            </div>
                        </td>
                       



                    </tr>


                </tbody>
            </table>
        </div>
        <a style="width:300px; display:flex; align-items:center; justify-content:center;" class="add_cus m-4" asp-action="" asp-controller="Admin">Thêm chứng chỉ số <i class="ph-bold ph-user-plus" style="font-size:20px; padding-left:10px;"></i> </a>
    </div><div class="tab-content active" id="tab3">
        <div class="listTable">
            <table class="table">
                <thead>
                    <tr style="color: #8B909A;">
                        <th scope="col">Số Seri chứng chỉ </th>
                        <th scope="col">Người sỡ hữu</th>
                        <th scope="col">Mật khẩu</th>
                        <th scope="col">File PFX</th>
                        <th scope="col">Tổ chức cung cấp</th>
                        <th scope="col">Giá trị bấm của chứng chỉ</th>
                        <th scope="col">Khóa công khai</th>
                        <th scope="col">Ngày hiệu lực</th>
                        <th scope="col">Ngày hết hạn</th>
                        <th scope="col">Is nhân viên</th>
                        <th scope="col">Ảnh chữ ký 1</th>
                        <th scope="col">Ảnh chữ ký 2</th>
                        <th scope="col">Ảnh chữ ký 3</th>
                        <th scope="col">Ảnh chữ ký 4</th>
                        <th scope="col">Ảnh chữ ký 5</th>
                        <th scope="col">Hành động</th>

                    </tr>
                </thead>
                <tbody class="table-group-divider">


                    <tr>

                        <td>PS22582</td>
                        <td>Trung</td>
                        <td>abc</td>
                        <td>ks.pfx</td>
                        <td>FPT</td>
                        <td>??</td>
                        <td>Public</td>
                        <td>07/11/2023</td>
                        <td>11/11/2023</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div style="width: 5px; height: 5px; background-color: red; border-radius: 50%; margin-right: 10px;"></div>
                                <span>Không</span>
                            </div>
                        </td>
                        <td>s.jpg</td>
                        <td>s.jpg</td>
                        <td>s.jpg</td>
                        <td>s.jpg</td>
                        <td>s.jpg</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <span>Chi tiết</span>
                                <span>Gia hạn</span>
                            </div>
                        </td>
                        


                    </tr>


                </tbody>
            </table>
        </div>
        <a style="width:300px; display:flex; align-items:center; justify-content:center;" class="add_cus m-4" asp-action="AddPFXCertificate" asp-controller="Admin">Thêm chứng chỉ số <i class="ph-bold ph-user-plus" style="font-size:20px; padding-left:10px;"></i> </a>
    </div>
</div>

<script>
    function showTab(tabId) {
        // Ẩn tất cả các nội dung tab
        var tabContents = document.querySelectorAll('.tab-content');
        tabContents.forEach(function (content) {
            content.classList.remove('active');
        });

        // Ẩn tất cả các tab-button
        var tabButtons = document.querySelectorAll('.tab-button');
        tabButtons.forEach(function (button) {
            button.classList.remove('active');
        });

        // Hiển thị nội dung của tab được chọn và làm cho tab-button trở nên active
        var selectedTab = document.getElementById(tabId);
        selectedTab.classList.add('active');

        var selectedButton = document.querySelector('[onclick="showTab(\'' + tabId + '\')"]');
        selectedButton.classList.add('active');
    }
</script>