@model QuanLyHopDongVaKySo.CLIENT.ViewModels.VMPersonalPage

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
<div class="container-fluid">
    <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Cá nhân</li>
            </ol>
        </nav>
        <h1 class="typeHead"></h1>
    </div>
    <div class="row justify-content-around mt-3">
        <div class="col-md-4">
            <div class="bg-white shadow-lg shadow-gray-200 rounded-2xl p-4 mb-6" style="height: 200px; display: flex;">
                <div class="items-center sm:flex xl:block 2xl:flex sm:space-x-4 xl:space-x-0 2xl:space-x-4" style="display:flex;">
                    <img class="mb-4 w-28 h-28 rounded-lg sm:mb-0 xl:mb-4 2xl:mb-0 shadow-lg shadow-gray-300" src="~/Resource/Image/Avatar.jpg">
                    <div style="margin: auto 10px;">
                        <h3 class="mb-1 text-2xl font-bold text-gray-900">
                           DO THAO
                        </h3>
                        <div class="text-base font-normal text-gray-500">
                            CEO / Co-Founder
                        </div>
                        <label for="file-upload" class="custom-file-upload">
                            <i class="ph-bold ph-cloud-arrow-up"></i>
                            UPLOAD 
                        </label>
                        <input id="file-upload" type="file" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="bg-white shadow-lg shadow-gray-200 rounded-2xl p-4 mb-6">
                <h4 class="title">Thông tin cá nhân</h4>
                <form class="row justify-content-around g-3" method="post" asp-action="UpdateInfo" asp-controller="Admin">
                    <div class="col-md-6">
                        <label for="inputName" class="form-label">ID</label>
                        <input type="text" class="form-input" asp-for="Employee.EmployeeId" readonly>
                    </div>
                    <div class="col-md-6">
                        <label for="inputName" class="form-label">Họ tên</label>
                        <input type="text" class="form-input" id="inputName" asp-for="Employee.FullName" readonly>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" class="form-input" id="inputEmail" asp-for="Employee.Email" readonly>
                    </div>
                    <div class="col-md-6">
                        <label for="inputPhone" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-input" id="inputPhone" maxlength="12" asp-for="Employee.PhoneNumber" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputAddress" class="form-label">CMND / CCCD</label>
                        <input type="text" placeholder="Add" class="form-input" id="inputAddress" asp-for="Employee.Identification" readonly>
                    </div>
                    <div class="col-md-6">
                        <label for="inputAddress" class="form-label">Địa chỉ</label>
                        <textarea type="text" placeholder="Add" class="form-input" id="inputAddress" asp-for="Employee.Address" required></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="inputDate" class="form-label">Ngày sinh</label>
                        <input type="date" class="form-input" id="inputDate" asp-for="Employee.DateOfBirth" required>
                    </div>
                    <div class="col-md-6">
                        <label for="inputGender" class="form-label">Giới tính</label>
                        <select id="inpuGender" class="form-select" required asp-for="Employee.Gender">
                            <option value="" disabled selected>...Chọn giới tính</option>
                            <option value="1">Nam</option>
                            <option value="2">Nữ</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputRole" class="form-label">Vai trò</label>
                        <input type="text" class="form-input" id="inputRole" readonly value=" @foreach (var r in Model.Roles)
                               {
                                    if(r.RoleID == Model.Employee.RoleID)
                                    {
                                       @r.RoleName
                                    }
                                }">
                        <input class="d-none" readonly asp-for="Employee.RoleID">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPosition" class="form-label">Chức danh</label>
                        <input type="text" class="form-input" id="inputPosition" readonly value="@foreach (var p in Model.Positions)
                               {
                                    if(p.PositionID == Model.Employee.PositionID)
                                    {
                                       @p.PositionName
                                    }
                                }">
                        <input class="d-none" readonly asp-for="Employee.PositionID">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPhone" class="form-label">Trạng thái tài khoản</label>
                        <div>
                            @if (!Model.Employee.IsLocked)
                            {
                                <input type="radio" class="btn-check " asp-for="Employee.IsLocked" id="false" value="false" autocomplete="off" readonly checked>
                                <label class="btn btn-sm btn-outline-success text-light" id="false-label" for="false">Hoạt động</label>
                            }
                            else
                            {
                                <input type="radio" class="btn-check " asp-for="Employee.IsLocked" id="true" value="true" autocomplete="off" readonly checked>
                                <label class="btn btn-sm btn-outline-danger text-light" id="true-label" for="true">Khoá</label>
                            }
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputAddress" class="form-label">Ghi chú</label>
                        <textarea type="text" class="form-input" id="inputAddress" asp-for="Employee.Note" readonly></textarea>
                    </div>
                    <button class="add_cus" style="margin:20px auto; width:50%; padding: 20px; min-height:30px; display:flex; justify-content:center; align-items:center; " type="submit">Lưu thông tin</button>
                </form>
            </div>
        </div>
    </div>
   
</div>