@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <button class="return">
        <i class="ph-bold ph-arrow-left"></i>
    </button>
    <div style="margin-top: 40px;">
        <form class="row justify-content-around" style=" margin: 0 auto;" >
            <div class="col-md-5">
                <div class="box1 row justify-content-between g-3 " style="max-height: 800px;overflow-y: scroll; height: 300px; margin: 40px auto;">
                    <div class="col-md-6">
                        <label class="form-label">ID thiết bị</label>
                        <input class="form-control" id="inputName" placeholder="ID" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Tên thiết bị</label>
                        <input class="form-control" id="inputName" placeholder="Tên thiết bị" readonly>
                    </div>
                    <div class="col-md-6">
                        <label for="inputName" class="form-label">Tình trạng</label>
                        <input class="form-control" readonly>
                    </div>
                    <div class="col-md-6">
                        <label for="inputGender" class="form-label">Mã hợp loại dịch vụ</label>
                        <select style="background-color: #F3F3F3;" required class="form-control">
                            <option value="" disabled selected>...chọn mã hợp đồng</option>
                            <option value="1">HD3333</option>
                            <option value="2">NHD001</option>
                        </select>
                    </div>
                </div>
            </div>
            @**@
        </form>
    </div>
</div>