@model List<QuanLyHopDongVaKySo_API.Models.OperationHistoryEmp>

<div class="container-fluid">
    <div class=" block justify-between items-center p-4  mt-4 mb-6 bg-white rounded-2xl shadow-xl shadow-gray-200 lg:p-5 sm:flex rounded">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <i class="ph-bold ph-house" style="font-size: 20px; margin: auto 5px;"></i>
                <li class="breadcrumb-item"> <a>Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Lịch sử thao tác</li>
            </ol>
        </nav>
        <h1 class="typeHead">Tất cả lịch sử thao tác</h1>
    </div>
    <div class="row bg-white my-auto mt-4 mx-auto">
        <div class="listTable" style="max-height:700px; overflow-y:scroll;">
            <table class="table">
                <thead>
                    <tr style="color: #8B909A;">
                        <th scope="col">ID</th>
                        <th scope="col">NGÀY</th>
                        <th scope="col">THAO TÁC</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.HistoryID</th>
                            <td>@item.Date</td>
                            <td>@item.OperationName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>