@page
@model QuanLyHopDongVaKySo_CLIENT.Pages.Auth.AddRoles_3ModelModel
@{
    Layout = "_AdminLayout";
}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid" style="width: 100%; margin-top: 60px;">
            <div class="row">
                <div class="col-md-6">
                    <!-- Left Table -->

                </div>
                <div class="col-md-6"
                     style="margin-left: 300px ; display: flex; justify-content: center; align-items: center;">
                    <!-- Right Table -->
                    <div class="card" style="border-radius: 46px;">
                        <div class="card-body" style="height: 840px;">
                            <!-- Your left table content goes here -->
                            <div class="row m-b-30">
                                <div class="col-lg-8">
                                    <div class="col-md-6 offset-md-4">
                                    </div>
                                    <form class="Frame308"
                                          style="width: 549px; margin-left: 30px ; height: 467px; padding-bottom: 15px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
                                       <br />
                                        <div class="Frame302"
                                             style="align-self: stretch; height: 79px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
                                            <div class="HVTNKhChHNg"
                                                 style="color: #888888; margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                                TÊN VAI TRÒ
                                            </div>
                                            <div class="Frame300"
                                                 style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                                <input class="form-control" type="text" placeholder="Trung đẹp trai" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; ">
                                               
                                                <div class="VuesaxLinearProfileTick"
                                                     style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                    <div class="ProfileTick"
                                                         style="width: 24px; height: 24px; position: relative">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Frame302"
                                             style="align-self: stretch; height: 79px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
                                            <div class="HVTNKhChHNg"
                                                 style="color: #888888; margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                                MÔ TẢ
                                            </div>
                                            <div class="Frame300"
                                                 style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                                <input class="form-control" type="text" placeholder="Trung đẹp trai" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; ">

                                                <div class="VuesaxLinearProfileTick"
                                                     style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                    <div class="ProfileTick"
                                                         style="width: 24px; height: 24px; position: relative">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Frame302"
                                             style="align-self: stretch; height: 79px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
                                            <div class="HVTNKhChHNg"
                                                 style="color: #888888; margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                                SỐ LƯỢNG
                                            </div>
                                            <div class="Frame300"
                                                 style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                                <input class="form-control" type="number" placeholder="Trung đẹp trai" style="color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; ">

                                                <div class="VuesaxLinearProfileTick"
                                                     style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                    <div class="ProfileTick"
                                                         style="width: 24px; height: 24px; position: relative">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="Frame304">
                                                    <div class="HVTNKhChHNg"
                                                         style="color: #888888; margin-bottom: 20px;margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                                        NGÀY TẠO
                                                    </div>
                                                    <div class="Frame300"
                                                         style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                                        <input class="form-control" type="date" style=" text-align: center;color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; width: 170px;">
                                                       
                                                        <div class="VuesaxLinearProfileTick"
                                                             style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                            <div class="ProfileTick"
                                                                 style="width: 24px; height: 24px; position: relative">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="Frame304">
                                                    <div class="HVTNKhChHNg"
                                                         style="color: #888888; margin-bottom: 20px;margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                                        NGƯỜI TẠO
                                                    </div>
                                                    <div class="Frame300"
                                                         style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                                        <input class="form-control" style=" text-align: center;color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; width: 170px;">
                                                      
                                                        <div class="VuesaxLinearProfileTick"
                                                             style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                            <div class="ProfileTick"
                                                                 style="width: 24px; height: 24px; position: relative">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="Frame304">
                                                    <div class="HVTNKhChHNg"
                                                         style="color: #888888; margin-bottom: 20px;margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                                        NGÀY SỬA
                                                    </div>
                                                    <div class="Frame300"
                                                         style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                                        <input class="form-control" type="date" style=" text-align: center;color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; width: 170px;">
                                                        
                                                        <div class="VuesaxLinearProfileTick"
                                                             style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                            <div class="ProfileTick"
                                                                 style="width: 24px; height: 24px; position: relative">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="Frame304">
                                                    <div class="HVTNKhChHNg"
                                                         style="color: #888888; margin-bottom: 20px;margin-left: 15px ;font-size: 16px; font-family: Jost; font-weight: 700; word-wrap: break-word">
                                                        NGƯỜI SỬA
                                                    </div>
                                                    <div class="Frame300"
                                                         style="width: 500px; height: 40px; padding: 8px 12px; justify-content: space-between; align-items: center; display: inline-flex">
                                                        <input class="form-control" style=" text-align: center;color: #525252; border-radius: 8px; font-size: 20px;
                                                            font-family: Jost; font-weight: 700; word-wrap: break-word;
                                                            background: #EDEDED; width: 170px;">
                                                       
                                                        <div class="VuesaxLinearProfileTick"
                                                             style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                                                            <div class="ProfileTick"
                                                                 style="width: 24px; height: 24px; position: relative">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-left: 150px; margin-top: 50px;">
                                            <div class="col-md-6 text-center">
                                                <button class="btn custom-color" style="background-color:#2CDDBD; color: #F5F5F5; width:
                                                            200px;">
                                                    THÊM
                                                </button>
                                            </div>

                                        </div>


                                        <div class="col-md-6 d-flex justify-content-between" style="margin-top:30px">
                                    <div class="form-group">
                                        <p href="#" class="text-muted font-italic font-weight-bold"
                                           style="white-space: nowrap;">
                                            Tài liệu liên quan
                                        </p>

                                        <label for="pdfLink"
                                               class="text-primary font-italic font-weight-bold"><u>PHULUCHOPDONG.PDF</u></label>
                                    </div>
                                    <div class="form-group" style="margin-left: 280px;">
                                        <p href="#" class="text-muted font-italic font-weight-bold"
                                           style="white-space: nowrap;">
                                            <i>
                                                Liên hệ khẩn
                                                cấp
                                            </i>
                                        </p>
                                        <p class="text-right">

                                            <a href="#" id="pdfLink"
                                               class="text-primary font-italic font-weight-bold"><u>021312332332</u></a>
                                        </p>
                                    </div>


                                </div>
                                    </form>
                            </div>
                                </div>


                            </div>





                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>