@page
@{
}
<div class="container-fluid">
    <div class="header">
        <div class="SearchBox">
            <ul>
                <li>
                    <button>
                        <i class="ph-bold ph-magnifying-glass"></i>
                    </button>
                    <input type="text" placeholder="Search" />
                </li>
                <li>
                    <i class="ph-bold ph-bell"></i>
                </li>
                <li>
                    <i class="ph-bold ph-moon"></i>
                </li>
                <li>
                    <img src=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="body">
        <div class="row">
            
        </div>

    </div>
</div>