
/*css - CreateContractForm */
@media screen and (min-width: 1366px) and (max-width: 1920px) {
    .fit_email {
        position: absolute;
        top: 70px;
        right: 10px;
        display: flex;
        width: 435px;
        height: 40px;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        border-radius: 6px;
        background: #FFF;
        box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
    }

    .form_create .col-4 {
        width: 485px;
        height: 747px;
        flex-shrink: 0;
        border-radius: 40px;
        background: rgba(217, 217, 217, 0.50);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .form_create {
        margin: 0 10px;
        padding-top: 70px;
    }

    .form_create > .col-4 > .upForm {
        width: 317px;
        height: 192px;
        flex-shrink: 0;
        border: 1px dashed #000;
        background: rgba(255, 255, 255, 0.60);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin: 30px auto;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form_create > .col-4 > .upForm .upload {
        font-size: 80px;
        color: #4318FF;
        border: none;
        background: none;
        height: 200px;
    }

    .form_create > .col-8 {
        display: inline-flex;
        justify-content: flex-end;
        align-items: flex-start;
        background-color: #FFFFFF;
        margin-left: 40px;
        border-radius: 15px;
    }

    button[class="draw-button"] {
        font-size: 30px;
        position: relative;
        left: 0;
        border: none;
        background-color: transparent;
        color: #4318FF;
    }

    .draw-button {
        cursor: crosshair;
    }

    .text-area {
        position: absolute;
        border: 2px dashed #000;
        user-select: none;
    }
}
